- if action == :new
  - panel_title = "New Page"
- elsif action == :edit
  - panel_title = "Edit Page"

%section.panel
  %header.panel-heading
    .panel-actions
    %h2.panel-title= panel_title
  .panel-body
    = f.input :target, label: "Target", input_html: {readonly: "readonly"}
    = f.input :meta_title, placeholder: 'Meta Title', label: "Meta Title"
    = f.input :meta_desc, placeholder: 'Meta Description', label: "Meta Description"
    = f.input :meta_keywords, placeholder: 'Meta Keywords', label: "Meta Keywords"

  %footer.panel-footer
    %button.btn.btn-primary Submit
    = link_to "Cancel", admin_pages_path, class: "btn btn-default"
