%section.content-body{:role => "main"}
  %header.page-header
    %h2 Pages
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          = link_to admin_pages_path do
            %span Pages
        %li
          %span= "Edit #{@page.target}"
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  .row
    .col-md-12.col-lg-12.col-xl-12
      = simple_form_for @page, url: admin_page_path(@page), method: "put", defaults: { required: false }, html: { class: "form-horizontal form-bordered" }, wrapper: :horizontal_form do |f|
        = render "admin/pages/form", f: f, action: :edit
