%section.content-body{:role => "main"}
  %header.page-header
    %h2 Pages
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          %span Pages
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          -#.row
          -#  .col-sm-6
          -#    .mb-md
          -#      = link_to new_admin_page_path, class: "btn btn-primary" do
          -#        Add
          -#        %i.fa.fa-plus

          - if @pages.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th Target
                  %th Meta Title
                  %th Meta Description
                  %th Meta Keywords
                  %th Actions
              %tbody
                - @pages.each do |page|
                  %tr
                    %td{width: "20%"}= page.target
                    %td{width: "20%"}= page.meta_title
                    %td{width: "20%"}= page.meta_desc
                    %td{width: "20%"}= page.meta_keywords
                    %td.actions{width: "20%"}
                      = link_to "Edit", edit_admin_page_path(page), class: "mb-xs mt-xs mr-xs btn btn-warning"

            .pull-right
              = pagination_(@pages, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No Pages to display