<form action="/your-server-side-code" method="POST">
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="pk_test_rb9HnAHyphoccza3ET9IMevU"
  data-amount="2000"
  data-name="ALEXSONG PTE LTD"
  data-description="2 widgets"
  data-image="https://s3.amazonaws.com/stripe-uploads/acct_1AGrcjEVFSJ4cTP5merchant-icon-1494173326834-Listoteca_icon.png"
  data-locale="auto"
  data-currency="sgd">
</script>
</form>