<%-
  dataLayer = [{
    'transactionId'          => @order.articulus,
    'transactionAffiliation' => 'Listoteca',
    'transactionTotal'       => @order.total_price.to_i,
    'transactionTax'         => 0,
    'userID'                 => @order.cart.user.id,
    'transactionShipping'    => 0,
    'transactionProducts'    => @order.cart.cart_products.map do |cart_product|
      product = cart_product.product
      {
        'sku'      => product.articulus,
        'name'     => product.title,
        'category' => product.subcategories.pluck(:title).join(", "),
        'price'    => cart_product.price,
        'quantity' => 1
      }
    end
  },
  {
    "gtm.start"  => Time.now.to_i,
    "event"      =>  "Transaction"
  }
  ]
%>
<script type="text/javascript">
  dataLayer =  <%= raw dataLayer.to_json %>;
</script>
