.main.shop{:role => "main"}
  .container{style: "margin-top: 35px;"}
    .row
      .col-md-12
        .featured-boxes
          .row
            .col-md-12
              .featured-box.featured-box-primary.align-left.mt-sm
                .box-content
                  %table.shop_table.cart
                    %thead
                      %tr
                        %th
                          Order ID
                        %th
                          Order date
                        %th
                          Amount
                        %th
                          Payment status
                    %tbody
                      - @orders.each do |order|
                        %tr.cart_table_item
                          %td
                            = link_to order.articulus, front_order_path(order.articulus)
                          %td
                            = order.created_at.strftime("%m/%d/%Y")
                          %td
                            = '$ ' + order.cart.cart_products.sum(:price).to_s
                          %td
                            = order.status
        .row
          .col-md-12
            .pull-right
              = pagination_(@orders, previous_label: "«", next_label: "»")