.main.shop{:role => "main"}
  .container
    .row
      .col-md-12
        %hr.tall/
    .row
      .col-md-12
        .featured-boxes
          .row
            .col-sm-12
              .featured-box.featured-box-primary.align-left.mt-xlg
                .box-content
                  %h4.heading-primary.text-uppercase.mb-md Order Details
                  %table.cart-totals
                    %tbody
                      %tr
                        %th
                          %strong Order ID
                        %td
                          = @order.articulus
                      %tr
                        %th
                          Order date
                        %td
                          = @order.created_at.strftime("%m/%d/%Y")
                      %tr
                        %th
                          Payment status
                        %td
                          = @order.status
              .featured-box.featured-box-primary.align-left.mt-sm
                .box-content
                  %table.shop_table.cart
                    %thead
                      %tr
                        %th.product-thumbnail
                           
                        %th.product-name
                          Product
                        %th.product-price
                          Price
                        %th.product-price
                          Download
                    %tbody
                      - @order.cart.cart_products.each do |cart_product|
                        %tr.cart_table_item
                          %td.product-thumbnail
                            = link_to front_product_path(cart_product.product.articulus) do
                              = image_tag cart_product.product.public_cover(:medium), class: "img-responsive", height: "100", width: "100"
                          %td.product-name
                            = link_to cart_product.product.title, front_product_path(cart_product.product.articulus)
                          %td.product-price
                            %span.amount= show_price(cart_product.price)
                          %td.product-price
                            - if (@order.paid? && @order.payment_approved)
                              %div{style: "margin: 0 0 5px 20px !important;"}
                                %code
                                  = ".txt"
                                = link_to "Download", download_list_front_product_path(cart_product.product.articulus, format: "txt"), class: "btn btn-sm btn-primary"
                                = "(#{number_to_human_size(cart_product.product.txt_list_file_size)})"
                              %div{style: "margin: 0 0 5px 20px !important;"}
                                %code
                                  = ".csv"
                                = link_to "Download", download_list_front_product_path(cart_product.product.articulus, format: "csv"), class: "btn btn-sm btn-primary"
                                = "(#{number_to_human_size(cart_product.product.csv_list_file_size)})"
                              %div{style: "margin: 0 0 5px 20px !important;"}
                                %code
                                  = ".xls"
                                = link_to "Download", download_list_front_product_path(cart_product.product.articulus, format: "xls"), class: "btn btn-sm btn-primary"
                                = "(#{number_to_human_size(cart_product.product.xls_list_file_size)})"
                            - else
                              - if cart_product.product.example_list.exists?
                                = link_to "Download free sample", download_example_front_product_path(cart_product.product.articulus), class: "btn btn-sm btn-primary", style: "margin: 0 0 5px 20px !important;"
                      %tr.cart_table_item
                        %td.product-thumbnail
                        %td.product-name
                          %span.pull-right Total:
                        %td.product-price
                          %span.amount= show_price(@order.total_price)
                        %td.product-price
