%section.content-body{:role => "main"}
  %header.page-header
    %h2 Rankings
    .right-wrapper.pull-right
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          .row
            .col-sm-6
              .mb-md
                = link_to refresh_workroom_rankings_path, class: "btn btn-primary", id: 'update_button', method: 'post' do
                  Update Rankings
                  %i.fa.fa-refresh
            #status Last update at #{@update_date}
          - if @rankings.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th ID
                  %th Name
              %tbody
                %tbody
                  - @rankings.each do |ranking|
                    %tr
                      %td{width: "10%"}
                        = ranking.id
                      %td{width: "90%"}
                        = ranking.name
            .pull-right
              = pagination_(@naics, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No rankings to display

= javascript_include_tag 'workroom_base'
= javascript_include_tag "workroom/industries/status.js"
