- if action == :new
  - panel_title = "New Subcategory"
- elsif action == :edit
  - panel_title = "Edit Subcategory"

%section.panel
  %header.panel-heading
    .panel-actions
    %h2.panel-title= panel_title
  .panel-body
    = f.input :title, placeholder: 'Title', label: "Title"

  %footer.panel-footer
    %button.btn.btn-primary Submit
    = link_to "Cancel", admin_subcategories_path(category_id: @category.id), class: "btn btn-default"
