%section.content-body{:role => "main"}
  %header.page-header
    %h2= "#{@category.title} subcategories"
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          = link_to admin_categories_path do
            %span Categories
        %li
          = link_to admin_subcategories_path(category_id: @category.id) do
            %span= "#{@category.title}"
        %li
          %span= "Edit #{@subcategory.title}"
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  .row
    .col-md-12.col-lg-12.col-xl-12
      = simple_form_for @subcategory, url: admin_subcategory_path(category_id: @category.id), method: "put", defaults: { required: false }, html: { class: "form-horizontal form-bordered" }, wrapper: :horizontal_form do |f|
        = render "admin/subcategories/form", f: f, action: :edit
