%section.content-body{:role => "main"}
  %header.page-header
    %h2= "#{@category.title} subcategories"
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          = link_to admin_categories_path do
            %span Categories
        %li
          %span= "#{@category.title}"
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          .row
            .col-sm-6
              .mb-md
                = link_to new_admin_subcategory_path(category_id: @category.id), class: "btn btn-primary" do
                  Add
                  %i.fa.fa-plus

          - if @subcategories.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th Title
                  %th Actions
              %tbody
                %tbody
                  - @subcategories.each do |subcategory|
                    %tr
                      %td{width: "70%"}= subcategory.title
                      %td.actions{width: "30%"}
                        = link_to "Edit", edit_admin_subcategory_path(subcategory, category_id: @category.id), class: "mb-xs mt-xs mr-xs btn btn-warning"
                        = link_to "Delete", admin_subcategory_path(subcategory, category_id: @category.id), method: "delete", class: "mb-xs mt-xs mr-xs btn btn-danger"

            .pull-right
              = pagination_(@subcategories, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No Subcategories to display