- if action == :new
  - panel_title = "New Client"
- elsif action == :edit
  - panel_title = "Edit Client"

%section.panel
  %header.panel-heading
    .panel-actions
    %h2.panel-title= panel_title
  .panel-body
    = f.input :first_name, placeholder: "First Name", label: "First Name"
    = f.input :last_name, placeholder: "Last Name",  label: "Last Name"
    = f.input :email, placeholder: "Email",  label: "Email"
    = f.input :company, placeholder: "Company",  label: "Company"
    = f.input :password, placeholder: "Password",  label: "Password", as: :string
    = f.input :country_code, as: :country, label: "Country"

  %footer.panel-footer
    %button.btn.btn-primary Submit
    = link_to "Cancel", admin_clients_path, class: "btn btn-default"
