%section.content-body{:role => "main"}
  %header.page-header
    %h2 Clients
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          %span Clients
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          .row
            .col-sm-6
              .mb-md
                = link_to new_admin_client_path, class: "btn btn-primary" do
                  Add
                  %i.fa.fa-plus

          - if @users.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th FirstName
                  %th LastName
                  %th Join Date
                  %th Actions
              %tbody
                - @users.each do |user|
                  %tr
                    %td{width: "25%"}= user.first_name
                    %td{width: "25%"}= user.last_name
                    %td{width: "25%"}= user.created_at.strftime("%m/%d/%Y")
                    %td.actions{width: "25%"}
                      = link_to "Edit", edit_admin_client_path(user), class: "mb-xs mt-xs mr-xs btn btn-warning"
                      = link_to "Delete", admin_client_path(user), method: "delete", data: {confirm: "Are you sure?"}, class: "mb-xs mt-xs mr-xs btn btn-danger"
                      - if user.activation_state == "pending"
                        = link_to "Activate", activate_admin_client_path(user), method: :post, class: "mb-xs mt-xs mr-xs btn btn-info"

            .pull-right
              = pagination_(@users, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No Clients to display