%section.content-body{:role => "main"}
  %header.page-header
    %h2 Clients
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          = link_to admin_clients_path do
            %span Clients
        %li
          %span New Client
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  .row
    .col-md-12.col-lg-12.col-xl-12
      = simple_form_for @user, url: admin_clients_path, method: "post", defaults: { required: false }, html: { class: "form-horizontal form-bordered" }, wrapper: :horizontal_form do |f|
        = render "admin/clients/form", f: f, action: :new
