- if action == :new
  - upload_text = "Upload Cover"
  - panel_title = "New Feature"
- else
  - upload_text = "Change Cover"
  - panel_title = "Edit Feature"

%section.panel
  %header.panel-heading
    .panel-actions
    %h2.panel-title= panel_title
  .panel-body
    = f.input :title, placeholder: 'Title', label: "Title", label_html: {data: {"error-label" => "title"}}, input_html: {data: {"error-input" => "title"}}

    .form-group{class: "#{f.object.errors.include?(:cover) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "cover"}} Cover
      .col-md-3
        #image_holder.image_for_upload_wrapper.look_image_admin{onclick: "$('#upload_image').click();", data: {"error-input" => "cover"}}
          = image_tag f.object.cover.url(:medium), class: "for-upload"
        = f.file_field :cover, accept: 'image/jpg,image/png,image/jpeg', class: "hidden", id: "upload_image"
        %button.btn.btn-default{style: "width: 100%; margin-top: 10px", type: "button", onclick: "$('#upload_image').click();"}
          = upload_text
        - if f.object.errors.include?(:cover)
          %span.help-block= f.object.errors[:cover].first
    = f.input :fa_icon_id, label: "Font awesome icon id", placeholder: "Font awesome icon id", label_html: {data: {"error-label" => "fa_icon_id"}}, input_html: {data: {"error-input" => "fa_icon_id"}}
    = f.input :description, label: "Description", placeholder: 'Description', as: :text, label_html: {data: {"error-label" => "description"}}, input_html: {data: {"error-input" => "description"}}
  %footer.panel-footer
    %button.btn.btn-primary Submit
    = link_to "Cancel", admin_features_path, class: "btn btn-default"