%section.content-body{:role => "main"}
  %header.page-header
    %h2 Features
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          = link_to admin_features_path do
            %span Features
        %li
          %span= "Edit #{@feature.title}"
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  .row
    .col-md-12.col-lg-12.col-xl-12
      = simple_form_for @feature, url: admin_feature_path(@feature), method: "put", defaults: { required: false }, html: { class: "form-horizontal form-bordered ", name: "admin_form" }, wrapper: :horizontal_form do |f|
        = render "admin/features/form", f: f, action: :edit