%section.content-body{:role => "main"}
  %header.page-header
    %h2 Features
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          %span Features
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          .row
            .col-sm-6
              .mb-md
                = link_to new_admin_feature_path, class: "btn btn-primary" do
                  Add
                  %i.fa.fa-plus

          - if @features.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th Icon
                  %th Title
                  %th Description
                  %th Actions
              %tbody
                - @features.each do |feature|
                  %tr
                    %td{width: "1%"}
                      .align-icon{:style => "text-align:center;"}
                        - if feature.fa_icon_id.present?
                          .aio-icon.advanced{:style => "color:#000000;background:#ffffff;border-style:solid;border-color:#cccccc;border-width:2px;width:45px;height:45px;line-height:43px;border-radius:500px;font-size:25px;display:inline-block;"}
                            %i{class: "fa fa-#{feature.fa_icon_id}", "aria-hidden" => "true", style: "margin-left: 2px;"}
                        - else
                          .aio-icon.advanced{:style => "color:#000000;background:#ffffff;border-style:solid;border-color:#cccccc;border-width:2px;width:45px;height:45px;line-height:45px;border-radius:500px;font-size:25px;display:inline-block;"}
                            = image_tag feature.cover.url(:medium), class: "img-responsive", width: "30px", style: "display: inline;margin-top: -10px;"
                            %i.Defaults-truck
                    %td{width: "25%"}= feature.title
                    %td{width: "25%"}= feature.description
                    %td.actions{width: "49%"}
                      = link_to "Edit", edit_admin_feature_path(feature), class: "mb-xs mt-xs mr-xs btn btn-warning"
                      = link_to "Delete", admin_feature_path(feature), method: "delete", data: {confirm: "Are you sure?"}, class: "mb-xs mt-xs mr-xs btn btn-danger"

            .pull-right
              = pagination_(@features, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No Features to display