%section.body-sign
  .center-sign
    %a.logo.pull-left{:href => "/"}
      %img{:alt => "Porto Admin", :height => "54", :src => "/Listoteca_logo.png"}/
    .panel.panel-sign
      .panel-title-sign.mt-xl.text-right
        %h2.title.text-uppercase.text-weight-bold.m-none
          %i.fa.fa-user.mr-xs
          Recover Password
      .panel-body
        .alert.alert-info
          %p.m-none.text-weight-semibold.h6 Choose a new password
        = simple_form_for @user, url: password_reset_path(@token), method: "put", defaults: { required: false } do |f|
          .form-group.mb-lg
            .input-group.input-group-icon
              = f.input :password, placeholder: 'New password', label: false, input_html: {class: "input-lg"}
              %span.input-group-addon
                %span.icon.icon-lg
                  %i.fa.fa-lock
                    .form-group.mb-lg
          .form-group.mb-lg
            .input-group.input-group-icon
              = f.input :password_confirmation, placeholder: 'Retype new password', label: false, input_html: {class: "input-lg"}
              %span.input-group-addon
                %span.icon.icon-lg
                  %i.fa.fa-lock
          .row
            .col-sm-12
              %button.btn.btn-primary.hidden-xs{:type => "submit"} Submit
              %button.btn.btn-primary.btn-block.btn-lg.visible-xs.mt-lg{:type => "submit"} Submit
    %p.text-center.text-muted.mt-md.mb-md © Copyright 2016. All Rights Reserved.