%section.body-sign
  .center-sign
    %a.logo.pull-left{:href => "/"}
      %img{:alt => "Porto Admin", :height => "54", :src => "/Listoteca_logo.png"}/
    .panel.panel-sign
      .panel-title-sign.mt-xl.text-right
        %h2.title.text-uppercase.text-weight-bold.m-none
          %i.fa.fa-user.mr-xs
          Recover Password
      .panel-body
        .alert.alert-info
          %p.m-none.text-weight-semibold.h6 Enter your e-mail below and we will send you reset instructions!
        = form_tag password_resets_path, method: :post do
          .form-group.mb-none
            .input-group
              = text_field_tag :email, "", class: "form-control input-lg", placeholder: "E-mail", type: "email"
              %span.input-group-btn
                %button.btn.btn-primary.btn-lg{type: "submit"} Reset!
    %p.text-center.text-muted.mt-md.mb-md © Copyright 2016. All Rights Reserved.