<div> Dear <%= @user.first_name %> <%= @user.last_name %> </div>
</br>
<div> You have successfully activated your Listoteca account. </div>
</br>
<div> To login to the site, just follow <a href="<%= @url %>">this</a> link. </div>
</br>
<div> Thanks for joining! </div>
</br>
<div> Best regards, Your Listoteca Team </div>