
Welcome to Listoteca, <%= @user.first_name %> <%= @user.last_name %>
<br>
Your account on Listoteca has been created.<br>
To activate your account, just follow <a href="<%= @url %>">this</a> link.
<br><br>
Thanks for joining! 
<br><br>
Best regards, Your Listoteca Team
