<div>Thank you!</div>
<br>
<p>
  Your order #<%= @order.articulus %> has been delivered.
  <br>
  You can download files on the order page <%= link_to front_order_url(@order.articulus), front_order_url(@order.articulus) %> in your Listoteca profile
</p>

<p>
  All the best,
  <br>
  Listoteca team
</p>
