Hello, <%= @user.email %>
===============================================

</br>
You have requested to reset your password.

</br>
To choose a new password, just follow <a href="<%= @url %>">this</a> link.

</br>
Have a great day!
