%section.body-sign
  .center-sign
    %a.logo.pull-left{:href => "/"}
      %img{:alt => "Porto Admin", :height => "54", :src => "/Listoteca_logo.png"}/
    .panel.panel-sign
      .panel-title-sign.mt-xl.text-right
        %h2.title.text-uppercase.text-weight-bold.m-none
          %i.fa.fa-user.mr-xs
          Sign In
      .panel-body
        = simple_form_for @user, url: admin_sessions_path, method: "post", defaults: { required: false } do |f|
          .form-group.mb-lg
            = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
            %label Email
            .input-group.input-group-icon
              = f.input :email, placeholder: 'Type your email', label: false, input_html: {class: "input-lg"}
              %span.input-group-addon
                %span.icon.icon-lg
                  %i.fa.fa-user
          .form-group.mb-lg
            .clearfix
              %label.pull-left Password
              = link_to "Lost Password?", new_password_reset_path, class: "pull-right"
            .input-group.input-group-icon
              = f.input :password, placeholder: 'Type your password', label: false, input_html: {class: "input-lg"}
              %span.input-group-addon
                %span.icon.icon-lg
                  %i.fa.fa-lock
          .row
            .col-sm-8
              = f.input :remember, as: :boolean, label: false, inline_label: 'Remember me', label_html: {style: "padding-left: 30px"}
            .col-sm-4.text-right
              %button.btn.btn-primary.hidden-xs{:type => "submit"} Sign In
              %button.btn.btn-primary.btn-block.btn-lg.visible-xs.mt-lg{:type => "submit"} Sign In
    %p.text-center.text-muted.mt-md.mb-md © Copyright 2016. All Rights Reserved.
