.main.shop{:role => "main"}
  .container
    .row
      .col-md-12
        %hr.tall/
    .row
      .col-md-12
        .featured-boxes
          .row
            .col-md-12
              .featured-box.featured-box-primary.align-left.mt-sm
                .box-content
                  %form{:action => "", :method => "post"}
                    %table.shop_table.cart
                      %thead
                        %tr
                          %th.product-remove
                             
                          %th.product-thumbnail
                             
                          %th.product-name
                            Product
                          %th.product-price
                            Price
                          %th.product-quantity
                            Quantity
                          %th.product-subtotal
                            Total
                      %tbody
                        %tr.cart_table_item
                          %td.product-remove
                            %a.remove{:href => "#", :title => "Remove this item"}
                              %i.fa.fa-times
                          %td.product-thumbnail
                            %a{:href => "shop-product-sidebar.html"}
                              %img.img-responsive{:alt => "", :height => "100", :src => "img/products/product-1.jpg", :width => "100"}/
                          %td.product-name
                            %a{:href => "shop-product-sidebar.html"} Photo Camera
                          %td.product-price
                            %span.amount $299
                          %td.product-quantity
                            %form.cart{:enctype => "multipart/form-data", :method => "post"}
                              .quantity
                                %input.minus{:type => "button", :value => "-"}/
                                %input.input-text.qty.text{:min => "1", :name => "quantity", :step => "1", :title => "Qty", :type => "text", :value => "1"}/
                                %input.plus{:type => "button", :value => "+"}/
                          %td.product-subtotal
                            %span.amount $299
                        %tr.cart_table_item
                          %td.product-remove
                            %a.remove{:href => "#", :title => "Remove this item"}
                              %i.fa.fa-times
                          %td.product-thumbnail
                            %a{:href => "shop-product-sidebar.html"}
                              %img.img-responsive{:alt => "", :height => "100", :src => "img/products/product-2.jpg", :width => "100"}/
                          %td.product-name
                            %a{:href => "shop-product-sidebar.html"} Golf Bag
                          %td.product-price
                            %span.amount $72
                          %td.product-quantity
                            %form.cart{:enctype => "multipart/form-data", :method => "post"}
                              .quantity
                                %input.minus{:type => "button", :value => "-"}/
                                %input.input-text.qty.text{:min => "1", :name => "quantity", :step => "1", :title => "Qty", :type => "text", :value => "1"}/
                                %input.plus{:type => "button", :value => "+"}/
                          %td.product-subtotal
                            %span.amount $72
                        %tr.cart_table_item
                          %td.product-remove
                            %a.remove{:href => "#", :title => "Remove this item"}
                              %i.fa.fa-times
                          %td.product-thumbnail
                            %a{:href => "shop-product-sidebar.html"}
                              %img.img-responsive{:alt => "", :height => "100", :src => "img/products/product-3.jpg", :width => "100"}/
                          %td.product-name
                            %a{:href => "shop-product-sidebar.html"} Workout
                          %td.product-price
                            %span.amount $60
                          %td.product-quantity
                            %form.cart{:enctype => "multipart/form-data", :method => "post"}
                              .quantity
                                %input.minus{:type => "button", :value => "-"}/
                                %input.input-text.qty.text{:min => "1", :name => "quantity", :step => "1", :title => "Qty", :type => "text", :value => "1"}/
                                %input.plus{:type => "button", :value => "+"}/
                          %td.product-subtotal
                            %span.amount $60
                        %tr
                          %td.actions{:colspan => "6"}
                            .actions-continue
                              %input.btn.btn-default{:name => "update_cart", :type => "submit", :value => "Update Cart"}/
        .featured-boxes
          .row
            .col-sm-6
              .featured-box.featured-box-primary.align-left.mt-xlg
                .box-content
                  %h4.heading-primary.text-uppercase.mb-md Calculate Shipping
                  %form#frmCalculateShipping{:action => "/", :method => "post"}
                    .row
                      .form-group
                        .col-md-12
                          %label Country
                          %select.form-control
                            %option{:value => ""} Select a country
                    .row
                      .form-group
                        .col-md-6
                          %label State
                          %input.form-control{:type => "text", :value => ""}/
                        .col-md-6
                          %label Zip Code
                          %input.form-control{:type => "text", :value => ""}/
                    .row
                      .col-md-12
                        %input.btn.btn-default.pull-right.mb-xl{"data-loading-text" => "Loading...", :type => "submit", :value => "Update Totals"}/
            .col-sm-6
              .featured-box.featured-box-primary.align-left.mt-xlg
                .box-content
                  %h4.heading-primary.text-uppercase.mb-md Cart Totals
                  %table.cart-totals
                    %tbody
                      %tr.cart-subtotal
                        %th
                          %strong Cart Subtotal
                        %td
                          %strong
                            %span.amount $431
                      %tr.shipping
                        %th
                          Shipping
                        %td
                          Free Shipping
                          %input#shipping_method{:name => "shipping_method", :type => "hidden", :value => "free_shipping"}/
                      %tr.total
                        %th
                          %strong Order Total
                        %td
                          %strong
                            %span.amount $431
        .row
          .col-md-12
            .actions-continue
              %button.btn.pull-right.btn-primary.btn-lg{:type => "submit"}
                Proceed to Checkout
                %i.fa.fa-angle-right.ml-xs