%section.content-body{:role => "main"}
  %header.page-header
    %h2 Feedback
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          %span Feedback
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      = simple_form_for @global_setting, url: update_feedback_email_admin_contact_messages_path, method: "post", defaults: { required: false }, html: { class: "form-inline form-bordered " }, wrapper: :inline_form do |f|
        = f.input :feedback_target_email, placeholder: "Feedback email"
        %button.btn.btn-primary{style: "margin-top: 5px; margin-bottom: 5px;"} Submit
      %section.panel
        .panel-body
          - if @contact_messages.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th Name
                  %th Email
                  %th Message
                  %th Date
                  %th From
              %tbody
                %tbody
                  - @contact_messages.each do |contact_message|
                    %tr
                      %td
                        = contact_message.name
                      %td
                        = contact_message.email
                      %td
                        = contact_message.message
                      %td
                        = contact_message.created_at.strftime("%m/%d/%Y")
                      %td
                        - if contact_message.user_id
                          = link_to contact_message.user.full_name, edit_admin_client_path(contact_message.user), class: "mb-xs mt-xs mr-xs btn btn-warning"

            .pull-right
              = pagination_(@contact_messages, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No Feedback to display