- if @user_cart.cart_products.any?
  %li#headerShop.dropdown.dropdown-mega.dropdown-mega-shop
    = link_to front_cart_path, class: "dropdown-toggle btn btn-primary cart-btn" do
      %i.fa.fa-shopping-cart
      = "Cart (#{@user_cart.cart_products.count}) - #{show_price(@user_cart.cart_products.sum(:price))}"
    %ul.dropdown-menu
      %li
        .dropdown-mega-content
          %table.cart
            %tbody
              - @user_cart.cart_products.each do |cart_product|
                %tr
                  %td.product-thumbnail
                    = link_to front_product_path(cart_product.product.articulus) do
                      = image_tag cart_product.product.public_cover(:medium), class: "img-responsive", height: "100", width: "100", style: "padding: 3px;"
                  %td.product-name
                    = link_to front_product_path(cart_product.product.articulus) do
                      = cart_product.product.title
                      %br/
                      %span.amount
                        %strong= show_price(cart_product.price)
                  %td.product-actions
                    = link_to remove_from_cart_front_product_path(cart_product.product.articulus), method: "delete", title: "Remove this item", class: "remove" do
                      %i.fa.fa-times
              %tr
                %td.actions{:colspan => "6"}
                  .actions-continue
                    = link_to front_cart_path, style: "display: inline;" do
                      %button.btn.pull-right.btn-primary{:type => "submit"}
                        Proceed to Checkout
                        %i.fa.fa-angle-right.ml-xs
