%footer#footer.short{style: "margin-top: 0;"}
  .container
    .row
      .col-md-4
        %h4 About Listoteca
        %p
          Listoteca creates premium contact and industry lists of companies based on its own data processing technologies and a unique database that includes information about over 36 million companies. Leading companies around the world use our lists to accelerate sales and find new marketing opportunities...
          = link_to about_us_front_pages_path, class: "btn-flat btn-xs" do
            View More
            %i.fa.fa-arrow-right
        %hr.light/
        %p © Copyright 2016-2017. All Rights Reserved.
        %p
          = link_to("Terms of use", terms_of_use_front_pages_path)
          &nbsp
          &nbsp
          = link_to("Privacy Policy", privacy_front_pages_path)
          = image_tag('/comodo_secure_seal.png', style: "width: 90px;position: absolute;right: 10px;bottom: 22px;")
      .col-md-4
        .contact-details
          %h4 Get In Touch
          %ul.contact
            %li
              %p
                ALEXSONG PTE LTD
            %li
              %p
                %i.fa.fa-map-marker
                %strong Singapore:
                60 Albert street #10-04 OG Albert Complex Singapore (189969)
            %li
              %p
                %i.fa.fa-map-marker
                %strong United States:
                1900 Camden Ave, San Jose, CA 95124

            %li
              %p
                %i.fa.fa-phone
                (650) 382-2672
            %li
              %p
                %i.fa.fa-envelope
                %a{:href => "mailto:contact@listoteca.com"}  contact@listoteca.com

      .col-md-4
        %h4.mb-none Contact Sales
        = form_tag front_contact_messages_path, method: :post, id: "contactForm" do
          .row
            .form-group
              .col-md-6
                %label Your name *
                %input#name.form-control{"data-msg-required" => "Please enter your name.", :maxlength => "100", :name => "name", :required => "", :type => "text", :value => ""}/
              .col-md-6
                %label Your email address *
                %input#email.form-control{"data-msg-email" => "Please enter a valid email address.", "data-msg-required" => "Please enter your email address.", :maxlength => "100", :name => "email", :required => "", :type => "email", :value => ""}/
          .row
            .form-group
              .col-md-12
                %label Message *
                %textarea#message.form-control{"data-msg-required" => "Please enter your message.", :maxlength => "5000", :name => "message", :required => "", :rows => "2"}
          .row
            .col-md-4
              %input.btn.btn-primary.mb-xl{"data-loading-text" => "Loading...", :type => "submit", :value => "Send Message"}/
            .col-md-8
              #contactSuccess.alert.alert-success.hidden
                Message has been sent to us.
              #contactError.alert.alert-danger.hidden
                Error sending your message.
