%header#header.header-narrow{"data-plugin-options" => "{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 0, 'stickySetTop': '0'}"}
  .header-body
    .header-container.container
      .header-row
        .header-column
          .header-logo
            %a{:href => "index.html"}
              %img{:alt => "Porto", :height => "40", :src => "/images/front_theme_img/logo.png", :width => "82"}/
        .header-column
          .header-row
            .header-nav
              %button.btn.header-btn-collapse-nav{"data-target" => ".header-nav-main", "data-toggle" => "collapse"}
                %i.fa.fa-bars
              %ul.header-social-icons.social-icons.hidden-xs
                %li.social-icons-facebook
                  %a{:href => "http://www.facebook.com/", :target => "_blank", :title => "Facebook"}
                    %i.fa.fa-facebook
                %li.social-icons-twitter
                  %a{:href => "http://www.twitter.com/", :target => "_blank", :title => "Twitter"}
                    %i.fa.fa-twitter
                %li.social-icons-linkedin
                  %a{:href => "http://www.linkedin.com/", :target => "_blank", :title => "Linkedin"}
                    %i.fa.fa-linkedin
              .header-nav-main.header-nav-main-effect-1.header-nav-main-sub-effect-1.collapse
                %nav
                  %ul#mainNav.nav.nav-pills
                    %li
                      %a{:href => "demos.html"}
                        Ready lists
                    %li
                      %a{:href => "demos.html"}
                        FAQ
                    %li
                      %a{:href => "demos.html"}
                        About Us
                    %li.dropdown.dropdown-mega
                      %a.dropdown-toggle{:href => "#"}
                        Shortcodes
                      %ul.dropdown-menu
                        %li
                          .dropdown-mega-content
                            .row
                              .col-md-3
                                %span.dropdown-mega-sub-title Shortcodes 1
                                %ul.dropdown-mega-sub-nav
                                  %li
                                    %a{:href => "shortcodes-accordions.html"} Accordions
                                  %li
                                    %a{:href => "shortcodes-toggles.html"} Toggles
                                  %li
                                    %a{:href => "shortcodes-tabs.html"} Tabs
                                  %li
                                    %a{:href => "shortcodes-icons.html"} Icons
                                  %li
                                    %a{:href => "shortcodes-icon-boxes.html"} Icon Boxes
                                  %li
                                    %a{:href => "shortcodes-carousels.html"} Carousels
                                  %li
                                    %a{:href => "shortcodes-modals.html"} Modals
                                  %li
                                    %a{:href => "shortcodes-lightboxes.html"} Lightboxes
                              .col-md-3
                                %span.dropdown-mega-sub-title Shortcodes 2
                                %ul.dropdown-mega-sub-nav
                                  %li
                                    %a{:href => "shortcodes-buttons.html"} Buttons
                                  %li
                                    %a{:href => "shortcodes-labels.html"} Labels
                                  %li
                                    %a{:href => "shortcodes-lists.html"} Lists
                                  %li
                                    %a{:href => "shortcodes-image-gallery.html"} Image Gallery
                                  %li
                                    %a{:href => "shortcodes-image-frames.html"} Image Frames
                                  %li
                                    %a{:href => "shortcodes-testimonials.html"} Testimonials
                                  %li
                                    %a{:href => "shortcodes-blockquotes.html"} Blockquotes
                                  %li
                                    %a{:href => "shortcodes-word-rotator.html"} Word Rotator
                              .col-md-3
                                %span.dropdown-mega-sub-title Shortcodes 3
                                %ul.dropdown-mega-sub-nav
                                  %li
                                    %a{:href => "shortcodes-call-to-action.html"} Call to Action
                                  %li
                                    %a{:href => "shortcodes-pricing-tables.html"} Pricing Tables
                                  %li
                                    %a{:href => "shortcodes-tables.html"} Tables
                                  %li
                                    %a{:href => "shortcodes-progressbars.html"} Progress Bars
                                  %li
                                    %a{:href => "shortcodes-counters.html"} Counters
                                  %li
                                    %a{:href => "shortcodes-sections-parallax.html"} Sections &amp; Parallax
                                  %li
                                    %a{:href => "shortcodes-tooltips-popovers.html"} Tooltips &amp; Popovers
                                  %li
                                    %a{:href => "shortcodes-sticky-elements.html"} Sticky Elements
                              .col-md-3
                                %span.dropdown-mega-sub-title Shortcodes 4
                                %ul.dropdown-mega-sub-nav
                                  %li
                                    %a{:href => "shortcodes-headings.html"} Headings
                                  %li
                                    %a{:href => "shortcodes-dividers.html"} Dividers
                                  %li
                                    %a{:href => "shortcodes-animations.html"} Animations
                                  %li
                                    %a{:href => "shortcodes-medias.html"} Medias
                                  %li
                                    %a{:href => "shortcodes-maps.html"} Maps
                                  %li
                                    %a{:href => "shortcodes-arrows.html"} Arrows
                                  %li
                                    %a{:href => "shortcodes-alerts.html"} Alerts
                                  %li
                                    %a{:href => "shortcodes-posts.html"} Posts
                    %li.dropdown.active
                      %a.dropdown-toggle{:href => "#"}
                        Features
                      %ul.dropdown-menu
                        %li.dropdown-submenu
                          %a{:href => "#"} Headers
                          %ul.dropdown-menu
                            %li.dropdown-submenu
                              %a{:href => "#"} Default
                              %ul.dropdown-menu
                                %li
                                  %a{:href => "index-classic.html"} Default
                                %li
                                  %a{:href => "index-header-language-dropdown.html"} Default + Language Dropdown
                                %li
                                  %a{:href => "index-header-big-logo.html"} Default + Big Logo
                            %li.dropdown-submenu
                              %a{:href => "#"} Flat
                              %ul.dropdown-menu
                                %li
                                  %a{:href => "index-header-flat.html"} Flat
                                %li
                                  %a{:href => "index-header-flat-top-bar.html"} Flat + Top Bar
                                %li
                                  %a{:href => "index-header-flat-colored-top-bar.html"} Flat + Colored Top Bar
                                %li
                                  %a{:href => "index-header-flat-top-bar-search.html"} Flat + Top Bar with Search
                            %li
                              %a{:href => "index-header-center.html"} Center
                            %li
                              %a{:href => "index-header-below-slider.html"} Below Slider
                            %li
                              %a{:href => "index-header-full-video.html"} Full Video
                            %li
                              %a{:href => "index-header-narrow.html"} Narrow
                            %li
                              %a{:href => "index-header-always-sticky.html"} Always Sticky
                            %li.dropdown-submenu
                              %a{:href => "#"} Transparent
                              %ul.dropdown-menu
                                %li
                                  %a{:href => "index-header-transparent.html"} Transparent
                                %li
                                  %a{:href => "index-header-transparent-bottom-border.html"} Transparent - Bottom Border
                                %li
                                  %a{:href => "index-header-semi-transparent.html"} Semi Transparent
                                %li
                                  %a{:href => "index-header-semi-transparent-light.html"} Semi Transparent - Light
                            %li
                              %a{:href => "index-header-full-width.html"} Full-Width
                            %li.dropdown-submenu
                              %a{:href => "#"} Navbar
                              %ul.dropdown-menu
                                %li
                                  %a{:href => "index-header-navbar.html"} Navbar
                                %li
                                  %a{:href => "index-header-navbar-extra-info.html"} Navbar + Extra Info
                            %li.dropdown-submenu
                              %a{:href => "#"} Side Header
                              %ul.dropdown-menu
                                %li
                                  %a{:href => "index-header-side-header-left.html"} Side Header Left
                                %li
                                  %a{:href => "index-header-side-header-right.html"} Side Header Right
                                %li
                                  %a{:href => "index-header-side-header-semi-transparent.html"} Side Header Semi Transparent
                            %li
                              %a{:href => "index-header-signin.html"} Sign In / Sign Up
                            %li
                              %a{:href => "index-header-logged.html"} Logged
                        %li.dropdown-submenu
                          %a{:href => "#"} Navigations
                          %ul.dropdown-menu
                            %li
                              %a{:href => "index-classic.html"} Default
                            %li
                              %a{:href => "index-navigation-stripe.html"} Stripe
                            %li
                              %a{:href => "index-navigation-top-line.html"} Top Line
                            %li
                              %a{:href => "index-navigation-dark-dropdown.html"} Dark Dropdown
                            %li
                              %a{:href => "index-navigation-colors.html"} Colors
                        %li.dropdown-submenu
                          %a{:href => "#"} Footers
                          %ul.dropdown-menu
                            %li
                              %a{:href => "index-classic.html#footer"} Default
                            %li
                              %a{:href => "index-footer-advanced.html#footer"} Advanced
                            %li
                              %a{:href => "index-footer-simple.html#footer"} Simple
                            %li
                              %a{:href => "index-footer-light.html#footer"} Light
                            %li
                              %a{:href => "index-footer-light-narrow.html#footer"} Light Narrow
                            %li.dropdown-submenu
                              %a{:href => "#"} Colors
                              %ul.dropdown-menu
                                %li
                                  %a{:href => "index-footer-color-primary.html#footer"} Primary Color
                                %li
                                  %a{:href => "index-footer-color-secondary.html#footer"} Secondary Color
                                %li
                                  %a{:href => "index-footer-color-tertiary.html#footer"} Tertiary Color
                                %li
                                  %a{:href => "index-footer-color-quaternary.html#footer"} Quaternary Color
                            %li
                              %a{:href => "index-footer-latest-work.html#footer"} Latest Work
                            %li
                              %a{:href => "index-footer-contact-form.html#footer"} Contact Form
                        %li.dropdown-submenu
                          %a{:href => "#"} Page Headers
                          %ul.dropdown-menu
                            %li
                              %a{:href => "index-page-header-default.html"} Default
                            %li.dropdown-submenu
                              %a{:href => "#"} Colors
                              %ul.dropdown-menu
                                %li
                                  %a{:href => "index-page-header-color-primary.html"} Primary Color
                                %li
                                  %a{:href => "index-page-header-color-secondary.html"} Secondary Color
                                %li
                                  %a{:href => "index-page-header-color-tertiary.html"} Tertiary Color
                                %li
                                  %a{:href => "index-page-header-color-quaternary.html"} Quaternary Color
                            %li
                              %a{:href => "index-page-header-light.html"} Light
                            %li
                              %a{:href => "index-page-header-light-reverse.html"} Light - Reverse
                            %li
                              %a{:href => "index-page-header-custom-background.html"} Custom Background
                            %li
                              %a{:href => "index-page-header-parallax.html"} Parallax
                            %li
                              %a{:href => "index-page-header-center.html"} Center
                        %li.dropdown-submenu
                          %a{:href => "#"}
                            Admin Extension
                            %span.tip.tip-dark hot
                            %em.not-included (Not Included)
                          %ul.dropdown-menu
                            %li
                              %a{:href => "feature-admin-forms-basic.html"} Forms Basic
                            %li
                              %a{:href => "feature-admin-forms-advanced.html"} Forms Advanced
                            %li
                              %a{:href => "feature-admin-forms-wizard.html"} Forms Wizard
                            %li
                              %a{:href => "feature-admin-forms-code-editor.html"} Code Editor
                            %li
                              %a{:href => "feature-admin-tables-advanced.html"} Tables Advanced
                            %li
                              %a{:href => "feature-admin-tables-responsive.html"} Tables Responsive
                            %li
                              %a{:href => "feature-admin-tables-editable.html"} Tables Editable
                            %li
                              %a{:href => "feature-admin-tables-ajax.html"} Tables Ajax
                            %li
                              %a{:href => "feature-admin-charts.html"} Charts
                        %li.dropdown-submenu
                          %a{:href => "#"} Sliders
                          %ul.dropdown-menu
                            %li
                              %a{:href => "index-classic.html"} Revolution Slider
                            %li
                              %a{:href => "index-slider-nivo.html"} Nivo Slider
                        %li.dropdown-submenu
                          %a{:href => "#"} Layout Options
                          %ul.dropdown-menu
                            %li
                              %a{:href => "feature-layout-boxed.html"} Boxed
                            %li
                              %a{:href => "feature-layout-dark.html"} Dark
                            %li
                              %a{:href => "feature-layout-rtl.html"} RTL
                        %li.dropdown-submenu
                          %a{:href => "#"} Extra
                          %ul.dropdown-menu
                            %li
                              %a{:href => "feature-typography.html"} Typography
                            %li
                              %a{:href => "feature-grid-system.html"} Grid System
                            %li
                              %a{:href => "feature-page-loading.html"} Page Loading
                            %li
                              %a{:href => "feature-lazy-load.html"} Lazy Load
                    %li.dropdown
                      %a.dropdown-toggle{:href => "#"}
                        Pages
                      %ul.dropdown-menu
                        %li.dropdown-submenu
                          %a{:href => "#"} About Us
                          %ul.dropdown-menu
                            %li
                              %a{:href => "about-us.html"} About Us
                            %li
                              %a{:href => "about-us-basic.html"} About Us - Basic
                            %li
                              %a{:href => "about-me.html"} About Me
                        %li.dropdown-submenu
                          %a{:href => "#"} Shop
                          %ul.dropdown-menu
                            %li
                              %a{:href => "shop-full-width.html"} Shop - Full Width
                            %li
                              %a{:href => "shop-sidebar.html"} Shop - Sidebar
                            %li
                              %a{:href => "shop-product-full-width.html"} Shop - Product Full Width
                            %li
                              %a{:href => "shop-product-sidebar.html"} Shop - Product Sidebar
                            %li
                              %a{:href => "shop-cart.html"} Shop - Cart
                            %li
                              %a{:href => "shop-login.html"} Shop - Login
                            %li
                              %a{:href => "shop-checkout.html"} Shop - Checkout
                        %li.dropdown-submenu
                          %a{:href => "#"} Blog
                          %ul.dropdown-menu
                            %li
                              %a{:href => "blog-full-width.html"} Blog Full Width
                            %li
                              %a{:href => "blog-large-image.html"} Blog Large Image
                            %li
                              %a{:href => "blog-medium-image.html"} Blog Medium Image
                            %li
                              %a{:href => "blog-timeline.html"} Blog Timeline
                            %li
                              %a{:href => "blog-post.html"} Single Post
                        %li.dropdown-submenu
                          %a{:href => "#"} Layouts
                          %ul.dropdown-menu
                            %li
                              %a{:href => "page-full-width.html"} Full Width
                            %li
                              %a{:href => "page-left-sidebar.html"} Left Sidebar
                            %li
                              %a{:href => "page-right-sidebar.html"} Right Sidebar
                            %li
                              %a{:href => "page-left-and-right-sidebars.html"} Left and Right Sidebars
                            %li
                              %a{:href => "page-sticky-sidebar.html"} Sticky Sidebar
                            %li
                              %a{:href => "page-secondary-navbar.html"} Secondary Navbar
                        %li.dropdown-submenu
                          %a{:href => "#"} Extra
                          %ul.dropdown-menu
                            %li
                              %a{:href => "page-404.html"} 404 Error
                            %li
                              %a{:href => "page-coming-soon.html"} Coming Soon
                            %li
                              %a{:href => "page-maintenance-mode.html"} Maintenance Mode
                            %li
                              %a{:href => "sitemap.html"} Sitemap
                        %li
                          %a{:href => "page-custom-header.html"} Custom Header
                        %li
                          %a{:href => "page-team.html"} Team
                        %li
                          %a{:href => "page-services.html"} Services
                        %li
                          %a{:href => "page-careers.html"} Careers
                        %li
                          %a{:href => "page-our-office.html"} Our Office
                        %li
                          %a{:href => "page-faq.html"} FAQ
                        %li
                          %a{:href => "page-login.html"} Login / Register
                    %li.dropdown
                      %a.dropdown-toggle{:href => "#"}
                        Portfolio
                      %ul.dropdown-menu
                        %li.dropdown-submenu
                          %a{:href => "#"} Single Project
                          %ul.dropdown-menu
                            %li
                              %a{:href => "portfolio-single-small-slider.html"} Small Slider
                            %li
                              %a{:href => "portfolio-single-wide-slider.html"} Wide Slider
                            %li
                              %a{:href => "portfolio-single-full-width-slider.html"} Full Width Slider
                            %li
                              %a{:href => "portfolio-single-gallery.html"} Gallery
                            %li
                              %a{:href => "portfolio-single-carousel.html"} Carousel
                            %li
                              %a{:href => "portfolio-single-medias.html"} Medias
                            %li
                              %a{:href => "portfolio-single-full-width-video.html"} Full Width Video
                            %li
                              %a{:href => "portfolio-single-masonry-images.html"} Masonry Images
                            %li
                              %a{:href => "portfolio-single-left-sidebar.html"} Left Sidebar
                            %li
                              %a{:href => "portfolio-single-right-sidebar.html"} Right Sidebar
                            %li
                              %a{:href => "portfolio-single-left-and-right-sidebars.html"} Left and Right Sidebars
                            %li
                              %a{:href => "portfolio-single-sticky-sidebar.html"} Sticky Sidebar
                            %li
                              %a{:href => "portfolio-single-extended.html"} Extended
                        %li.dropdown-submenu
                          %a{:href => "#"} Grid Layouts
                          %ul.dropdown-menu
                            %li
                              %a{:href => "portfolio-grid-1-column.html"} 1 Column
                            %li
                              %a{:href => "portfolio-grid-2-columns.html"} 2 Columns
                            %li
                              %a{:href => "portfolio-grid-3-columns.html"} 3 Columns
                            %li
                              %a{:href => "portfolio-grid-4-columns.html"} 4 Columns
                            %li
                              %a{:href => "portfolio-grid-5-columns.html"} 5 Columns
                            %li
                              %a{:href => "portfolio-grid-6-columns.html"} 6 Columns
                            %li
                              %a{:href => "portfolio-grid-no-margins.html"} No Margins
                            %li
                              %a{:href => "portfolio-grid-full-width.html"} Full Width
                            %li
                              %a{:href => "portfolio-grid-full-width-no-margins.html"} Full Width No Margins
                            %li
                              %a{:href => "portfolio-grid-1-column-title-and-description.html"} Title and Description
                        %li.dropdown-submenu
                          %a{:href => "#"} Masonry Layouts
                          %ul.dropdown-menu
                            %li
                              %a{:href => "portfolio-masonry-2-columns.html"} 2 Columns
                            %li
                              %a{:href => "portfolio-masonry-3-columns.html"} 3 Columns
                            %li
                              %a{:href => "portfolio-masonry-4-columns.html"} 4 Columns
                            %li
                              %a{:href => "portfolio-masonry-5-columns.html"} 5 Columns
                            %li
                              %a{:href => "portfolio-masonry-6-columns.html"} 6 Columns
                            %li
                              %a{:href => "portfolio-masonry-no-margins.html"} No Margins
                            %li
                              %a{:href => "portfolio-masonry-full-width.html"} Full Width
                        %li.dropdown-submenu
                          %a{:href => "#"} Sidebar Layouts
                          %ul.dropdown-menu
                            %li
                              %a{:href => "portfolio-sidebar-left.html"} Left Sidebar
                            %li
                              %a{:href => "portfolio-sidebar-right.html"} Right Sidebar
                            %li
                              %a{:href => "portfolio-sidebar-left-and-right.html"} Left and Right Sidebars
                            %li
                              %a{:href => "portfolio-sidebar-sticky.html"} Sticky Sidebar
                        %li.dropdown-submenu
                          %a{:href => "#"} Ajax
                          %ul.dropdown-menu
                            %li
                              %a{:href => "portfolio-ajax-page.html"} Ajax on Page
                            %li
                              %a{:href => "portfolio-ajax-modal.html"} Ajax on Modal
                        %li.dropdown-submenu
                          %a{:href => "#"} Extra
                          %ul.dropdown-menu
                            %li
                              %a{:href => "portfolio-extra-timeline.html"} Timeline
                            %li
                              %a{:href => "portfolio-extra-lightbox.html"} Lightbox
                            %li
                              %a{:href => "portfolio-extra-load-more.html"} Load More
                            %li
                              %a{:href => "portfolio-extra-infinite-scroll.html"} Infinite Scroll
                            %li
                              %a{:href => "portfolio-extra-pagination.html"} Pagination
                            %li
                              %a{:href => "portfolio-extra-combination-filters.html"} Combination Filters
                    %li.dropdown
                      %a.dropdown-toggle{:href => "#"}
                        Contact Us
                      %ul.dropdown-menu
                        %li
                          %a{:href => "contact-us.html"} Contact Us - Basic
                        %li
                          %a{:href => "contact-us-advanced.php"} Contact Us - Advanced