%header#header.header-narrow{"data-plugin-options" => "{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 0, 'stickySetTop': '0'}"}
  .header-body
    .header-container.container
      .header-row
        .header-column
          .header-logo
            = link_to front_root_path do
              %img{:alt => "Porto", :height => "40", :src => "/Listoteca_logo.png"}/
        .header-column
          .header-row
            .header-nav
              %button.btn.header-btn-collapse-nav{"data-target" => ".header-nav-main", "data-toggle" => "collapse"}
                %i.fa.fa-bars
              .header-nav-main.header-nav-main-effect-1.header-nav-main-sub-effect-1.collapse
                %nav
                  %ul#mainNav.nav.nav-pills
                    = active_link_to front_products_path, wrap_tag: :li, class: 'btn btn-default', style: 'border-color: red;' do
                      Ready lists
                    /= active_link_to faq_front_pages_path, wrap_tag: :li do
                    /  FAQ
                    = active_link_to about_us_front_pages_path, wrap_tag: :li do
                      About Us
                    - if current_user
                      = render "front/shared/user_logged_in_nav"
                    - else
                      = render "front/shared/no_user_nav"
                    = render "front/shared/cart"
