%li#headerAccount.dropdown.dropdown-mega.dropdown-mega-signin.signin
  = link_to front_sign_in_path, class: "dropdown-toggle" do
    %i.fa.fa-user
    Sign In
  %ul.dropdown-menu
    %li
      .dropdown-mega-content
        .row
          .col-md-12
            .signin-form
              %span.dropdown-mega-sub-title Sign In
              = simple_form_for User.new, url: front_sessions_path, method: "post", defaults: { required: false } do |f|
                .row
                  .form-group
                    .col-md-12.p-none
                      %label Username or E-mail Address
                      = f.input :email, label: false, input_html: {class: "input-lg", tabindex: "1"}
                .row
                  .form-group
                    .col-md-12.p-none
                      %a#headerRecover.pull-right.mt-none.p-none{:href => "#"} (Lost Password?)
                      %label Password
                      = f.input :password, label: false, input_html: {class: "input-lg"}
                .row
                  .col-md-6.pl-none
                    = f.input :remember, as: :boolean, label: false, inline_label: 'Remember me', label_html: {style: "padding-left: 30px"}
                  .col-md-6.pr-none
                    %input.btn.btn-primary.pull-right.mb-xl{"data-loading-text" => "Loading...", :type => "submit", :value => "Login"}
                .row
                  .col-md-12.center
                    %hr
                    %ul.social-icons
                      %li.social-icons-facebook
                        = link_to front_auth_at_provider_path(:provider => :facebook), :title => "Facebook", style: "padding: 2px 5px 8px 5px" do
                          %i.fa.fa-facebook
                      %li.social-icons-linkedin
                        = link_to front_auth_at_provider_path(:provider => :linkedin), :title => "Linkedin", style: "padding: 2px 5px 8px 5px" do
                          %i.fa.fa-linkedin
              %p.sign-up-info
                Don't have an account yet?
                = link_to "Sign Up", front_sign_up_path, class: "btn btn-xs btn-danger btn-borders", style: 'padding: 1px 5px; border-width: 1px; border-bottom: 1px #d2322d solid;'
            .recover-form
              %span.dropdown-mega-sub-title Reset My Password
              %p Complete the form below to receive an email with the authorization code needed to reset                    your password.
              = form_tag password_resets_path, :method => :post do
                .row
                  .form-group
                    .col-md-12.p-none
                      %label E-mail Address
                      = text_field_tag :email, "", class: "form-control input-lg", type: "email"
                .row
                  .col-md-12.p-none
                    %input.btn.btn-primary.pull-right.mb-xl{"data-loading-text" => "Loading...", :type => "submit", :value => "Submit"}/
              %p.log-in-info
                Already have an account?
                %a#headerRecoverCancel.p-none.m-none.ml-xs{:href => "#"} Log In
