%section.page-header
  .container
    .row
      .col-md-12
        %ul.breadcrumb
          %li
            %a{:href => "#"} Home
          %li.active Pages
    .row
      .col-md-12
        %h1 Login
