%li#headerAccount.dropdown.dropdown-mega.dropdown-mega-signin.signin
  = link_to front_profile_path, class: "dropdown-toggle" do
    %i.fa.fa-user
    = current_user.full_name
  %ul.dropdown-menu.logged-in
    %li
      = link_to "Profile", front_profile_path
    %li
      = link_to "Orders", front_orders_path
    %li
      = link_to front_sessions_path, method: :delete do
        Log out
