%section.content-body{:role => "main"}
  %header.page-header
    %h2 Orders
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          %span Orders
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel
          %table.table.table-striped{data: { toggle: 'table', pagination: 'true', search: 'true', 'show-columns' =>'true', cookie: 'true', 'cookie-id-table' => 'orders'}}
            %thead
              %tr
                %th{data: { field: 'id', sortable: 'true'}} Order ID
                %th{data: { field: 'date', sortable: 'true'}} Order date
                %th{data: { field: 'sum', sortable: 'true'}} Sum
                %th{data: { field: 'email', sortable: 'true'}} Customer email
                %th{data: { field: 'payment_status', sortable: 'true'}} Payment status
                %th{data: { sortable: 'true'}} Delivery status
            %tbody
              - @orders.each do |order|
                %tr
                  %td 
                    = link_to admin_order_path(order.articulus) do
                      = order.articulus
                  %td 
                    = order.created_at.strftime("%m/%d/%Y")
                  %td 
                    = '$ ' + order.cart.cart_products.sum(:price).to_s
                  %td
                    - if order.cart.user.blank?
                      user not logged in
                    - else
                      = order.cart.user.email
                  %td
                    - unless order.cart.user.blank?
                      = order.payment_method.blank? ? order.status : order.status + ' by ' + order.payment_method
                  %td
                    - unless order.cart.user.blank?
                      - if order.cart.cart_products.any?{ |cart_product| cart_product.product.downloads_by_user(order.cart.user.id).count > 0 }
                        Success
                      - else
                        Waiting
                    - else
                      Waiting
