%section.content-body{:role => "main"}
  %header.page-header
    %h2 Order #{@order.articulus} details
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          = link_to "Order list", admin_orders_path
        %li
          %span Order #{@order.articulus}
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          %table.order-totals
            %tbody
              %tr
                %th.col-md-12.col-lg-12.col-xl-12
                  %strong Order ID
                %td.col-md-6.col-lg-6.col-xl-6
                  = @order.articulus
              %tr
                %th.col-md-12.col-lg-12.col-xl-12
                  Order date
                %td.col-md-6.col-lg-6.col-xl-6
                  = @order.created_at.strftime("%m/%d/%Y")
              %tr
                %th.col-md-12.col-lg-12.col-xl-12
                  Payment status
                %td.col-md-6.col-lg-6.col-xl-6
                  = @order.status
              %tr
                %th.col-md-12.col-lg-12.col-xl-12
                  Payment method
                %td.col-md-6.col-lg-6.col-xl-6
                  = @order.payment_method
          %table.table-striped.cart
            %thead
              %tr
                %th.product-name.col-md-4.col-lg-4.col-xl-4
                  Product
                %th.product-price.col-md-4.col-lg-4.col-xl-4
                  Price
                %th.product-price.col-md-4.col-lg-4.col-xl-4
                  Downloads
            %tbody
              - @order.cart.cart_products.each do |cart_product|
                %tr.cart_table_item
                  %td.product-name.col-md-4.col-lg-4.col-xl-4
                    = cart_product.product.title
                  %td.product-price.col-md-4.col-lg-4.col-xl-4
                    %span.amount= '$' + cart_product.price.to_s
                  %td.product-name.col-md-4.col-lg-4.col-xl-4
                    - unless @order.cart.user.blank?
                      = cart_product.product.downloads_by_user(@order.cart.user.id).count unless cart_product.product.downloads_by_user(@order.cart.user.id).blank?
                  - unless @order.cart.user.blank?
                    - unless cart_product.product.downloads_by_user(@order.cart.user.id).blank?
                      - cart_product.product.downloads_by_user(@order.cart.user.id).each do |download|
                        %tbody
                          %tr
                            %th.col-md-4.col-lg-4.col-xl-4
                              Downloaded at
                            %td.col-md-4.col-lg-4.col-xl-4
                              = download.file_downloaded_at.strftime("%m/%d/%Y")
                            %td.col-md-4.col-lg-4.col-xl-4
                              Download format: #{download.file_downloaded_format}

