/ start: sidebar
%aside#sidebar-left.sidebar-left
  .sidebar-header
    .sidebar-title
      Navigation
    .sidebar-toggle.hidden-xs{"data-fire-event" => "sidebar-left-toggle", "data-target" => "html", "data-toggle-class" => "sidebar-left-collapsed"}
      %i.fa.fa-bars{"aria-label" => "Toggle sidebar"}
  .nano
    .nano-content
      %nav#menu.nav-main{:role => "navigation"}
        %ul.nav.nav-main
          = active_link_to workroom_root_path, class_active: "nav-active", wrap_tag: :li, active: [[], ['new']] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span New list
          = active_link_to workroom_lists_path, class_active: "nav-active", wrap_tag: :li, active: [['workroom/lists'], ['index']] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span List index
          = active_link_to workroom_industries_path, class_active: "nav-active", wrap_tag: :li, active: ['workroom/industries'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Industries dictionary
          = active_link_to workroom_naics_path, class_active: "nav-active", wrap_tag: :li, active: ['workroom/naics'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span NAIC Codes dictionary
          = active_link_to workroom_sics_path, class_active: "nav-active", wrap_tag: :li, active: ['workroom/sics'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span SIC Codes dictionary
          = active_link_to workroom_rankings_path, class_active: "nav-active", wrap_tag: :li, active: ['workroom/rankings'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Rankings dictionary
          = active_link_to workroom_technologies_path, class_active: "nav-active", wrap_tag: :li, active: ['workroom/technologies'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Technologies dictionary
          = active_link_to workroom_technology_categories_path, class_active: "nav-active", wrap_tag: :li, active: ['workroom/technology_categories'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Technology Categories dictionary

    :javascript
      // Maintain Scroll Position
      if (typeof localStorage !== 'undefined') {
        if (localStorage.getItem('sidebar-left-position') !== null) {
          var initialPosition = localStorage.getItem('sidebar-left-position'),
            sidebarLeft = document.querySelector('#sidebar-left .nano-content');
          
          sidebarLeft.scrollTop = initialPosition;
        }
      }
/ end: sidebar