%section.content-body{:role => "main"}
  %header.page-header
    %h2 SIC Codes
    .right-wrapper.pull-right
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          .row
            .col-sm-6
              .mb-md
                = link_to refresh_workroom_sics_path, class: "btn btn-primary", id: 'update_button', method: 'post' do
                  Update SIC codes
                  %i.fa.fa-refresh
            #status Last update at #{@update_date}
          - if @sics.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th SIC Code
                  %th Description
              %tbody
                %tbody
                  - @sics.each do |sic|
                    %tr
                      %td{width: "20%"}
                        = sic.code
                      %td{width: "80%"}
                        = sic.description
            .pull-right
              = pagination_(@sics, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No SIC Codes to display

= javascript_include_tag 'workroom_base'
= javascript_include_tag "workroom/industries/status.js"
