.container{style: "margin-top: 30px;"}
  .row
    .col-md-12
      %h2.word-rotator-title
        Listoteca collects
        %strong
          %span.word-rotate{"data-plugin-options" => "{'delay': 2000}"}
            %span.word-rotate-items
              %span complete
              %span accurate
              %span actual
        data about companies
        %br
        and forms
        %strong
          %span.word-rotate{"data-plugin-options" => "{'delay': 2000}"}
            %span.word-rotate-items
              %span ready to work
              %span unique
              %span efficient
        marketing and industry companies lists.
  .row
    .col-md-10
      %p
        We started creating our own database in 2013.  Since 2016 Listoteca sells company information, on-line. in the form of marketing and industry companies lists.  These lists are specifically designed for convenient and quick use in the marketing and sales industry.
      %p
        Our key skill lies in the ability to collect and update data from open sources, while paying special attention to the quality of the information collected.
      %p
        We strive to include information about every American company, regardless of its size, industry or founding date.  Our site specifically covers:
      %ul
        %li
          All public and large private companies.
        %li
          Medium and small companies, including start-ups.
        %li
          Local businesses:  restaurants, coffee shops, grocery stores, car repair shops, laundromats, etc.
      %p
        We pay particular attention to collect accurate locations of large chains of supermarkets, restaurants, drug stores, etc.
      %p
        Presently we are focused on assembling information around American companies.  However, we plan to expand our coverage, of the processed data, to a global scale.
      %p
        We create our own company information database.  We don’t resell any third-party retailers' data, as many other data providers do.
      %p
        Our research development Listoteca office is located in California.
      %p
        Our sales and marketing office is located in Singapore.

%section.parallax.section.section-text-light.section-parallax{"data-image-src" => "/images/front_theme_img/parallax-2.jpg", "data-plugin-options" => "{'speed': 1.5}", "data-plugin-parallax" => "", style: "margin: 0;"}
  %section.call-to-action
    .container
      .row
        .col-md-12
          .call-to-action-content
            %h3
              For more information, contact us directly at
              %a{href: 'mailto:contact@listoteca.com'}
                contact@listoteca.com
          .call-to-action-btn
            = link_to front_products_path, class: 'btn btn-lg btn-primary', target: '_blank' do
              Select list
