<style>
  .logo{
    background-image: url(/Listoteca_logo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
</style>

<div class="logo"/>