.container{style: "margin-top: 30px"}
  %h2.text-center
    PRIVACY POLICY
  .row
    .col-md-12
      %p.lead.text-center
        %b of
      %p.text-center.lead
        %a{:href => "http://www.listoteca.com/"}
          %b
        %b
          %a{:href => "http://www.listoteca.com"} www.listoteca.com
      %p
         
      %p
        1. By this the Users acknowledge that the Privacy Policy (hereunder referred to as the “PP”) shall go into effect upon their access to the Website and that their Personal Data or Personal Identifiable Information are protected in accordance with this PP.
      %p
        2. Within the present PP:
      %ul
        %li
          Personally Identifiable Information (PII) is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context;
        %li
          Personal Data (PD) is the same as Personally Identifiable Information;
        %li
          %a{:href => "http://www.listoteca.com/"} www.listoteca.com
          is “The Company” (We);
        %li
          The person (entity), who accessed
          %a{:href => "http://www.listoteca.com"} www.listoteca.com
          is The Client (you);
        %li
          User is the same as Client
        %li
          Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information;
        %li
          Fair Information Practice Principles (FIPPs) are guidelines, developed by the US Federal Trade Commission that represent widely accepted concepts concerning fair information practice in an electronic marketplace.
        %li
          To improve our website in order to better serve you.;
        %li
          To allow us to better service you in responding to your customer service requests;
        %li
          To quickly process your transactions.
      %p
        3. The Client may be asked to enter his or her name, e-mail address, mailing address, phone number, credit card information or other details to help you with his or her experience. This PII may be asked from the Client when the Client is ordering or registering on our site.
      %p
        4. The Client’s PII is considered to be collected by our site in the moment, when the Client registers on our site, places an order or enters information on our site.
      %p
        5. The PII collected by us, shall be used only in the following ways:
      %p
        6. In order to protect the Client’s PII, the Company undertakes:
      %ul
        %li
          to scan our website on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible;
        %li
          to use regular Malware Scanning;
        %li
          to contain PII behind secured networks when PII is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential;
        %li
          to implement a variety of security measures when the User places an order enters, submits, or accesses their information to maintain the safety of your personal information;
        %li
          that all monetary transactions are processed through a gateway provider and are not stored or processed on our servers.
      %p
        7. The use of cookies is allowed on our website. The Company uses cookies in order to remember and to process the items in the Client’s shopping cart. They are also used to help to the Company to understand the Client’s preferences based on previous or current site activity, which enables us to provide you with improved services. The Company also uses cookies in order to compile aggregate data about site traffic and site interaction so that the Company can offer better site experiences and tools in the future. The company may also use trusted third-party services that track this information on our behalf.
      %p
        8. The User can choose to the User’s computer to warn the User each time a cookie is being sent, or the User can choose to turn off all cookies. The User can do this through the User’s browser settings. The instruction “how to modify the cookies” can be found by the User in browser's Help Menu. If the User turns cookies off, some features can be disabled. It won't affect the User's experience and the User will still be able to place orders.
      %p
        9. The Company undertakes not to sell, trade, or otherwise transfer to outside parties the User’s name, address, city, town, any form or online contact identifier email, name of chat account etc., phone number PII.
      %p
        10. The company may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. The company therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, the Company seek to protect the integrity of our site and welcome any feedback about these sites.
      %p
        11. Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for Users.
        %a{:href => "https://support.google.com/adwordspolicy/answer/1316548?hl=en"} https://support.google.com/adwordspolicy/answer/1316548?hl=en
        We have not enabled Google AdSense on our site but we may do so in the future.
      %p
        This provision applies equally to other similar services.
      %p
        12. The Company declares and undertakes, that this  Privacy Policy is fully complies with California Online Privacy Protection Act
        = succeed "CalOPPA)" do
          %b (
        %a{:href => "http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf"} http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf
        %a{:href => "http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf"}
      %p
        13. In accordance with CalOPPA, the Company agrees to the following:
      %ul
        %li
          Users can visit our website anonymously.
        %li
          Once this PP is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.
        %li
          Our PPP link includes the word 'Privacy' and can easily be found on the page specified above.
        %li
          The User will be notified of any PP changes on our PP Page.
        %li
          Not use false or misleading subjects or email addresses;
        %li
          Identify the message as an advertisement in some reasonable way;
        %li
          Include the physical address of our business or site headquarters;
        %li
          Monitor third-party email marketing services for compliance, if one is used;
        %li
          Honor opt-out/unsubscribe requests quickly;
        %li
          Allow the Users to unsubscribe by using the link at the bottom of each email
      %p
        14. The User can change your personal information by logging in to the User’s  account.
      %p
        15. The Company honors Do Not Track signals (DNT).
      %p
        16. The Company does not allow third-party behavioral tracking.
      %p
        17. The Company does not specifically market to children under the age of 13 years old, the Company serves only adult Users.
      %p
        18. The Company agrees to comply with the Fair Information Practices Principles. The Company will notify the Client via email within 7 business days should a data breach occur. The Company also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law.
      %p
        19. The Company agrees to comply with the CAN SPAM Act (Controlling the Assault of Non-Solicited Pornography And Marketing Act of 2003), published at
        %a{:href => "https://www.gpo.gov/fdsys/pkg/PLAW-108publ187/html/PLAW-108publ187.htm"} https://www.gpo.gov/fdsys/pkg/PLAW-108publ187/html/PLAW-108publ187.htm
        To be in accordance with CAN SPAM Act , the Company agrees to the following:
      %p
        20. If at any time the Client would like to unsubscribe from receiving future emails, the Client can follow the instructions at the bottom of each email and the Company will promptly remove the Client from ALL correspondence lists.
      %p
        21. If there are any questions regarding this PP, the Client may contact the Company using the information below:
      %p
        %a{:href => "http://www.listoteca.com/"} www.listoteca.com
        %a{:href => "http://www.listoteca.com/"}
        %a{:href => "mailto:pp@listoteca.com"} pp@listoteca.com