.container{style: "margin-top: 30px"}
  %h2
    %a{:href => "http://WWW.LISTOTECA.COM"} WWW.LISTOTECA.COM
    TERMS OF USE
  .row
    .col-md-12
      %p
        1. By this the Users acknowledge that the Terms of Use (hereunder referred to as the “Terms”) shall go into effect upon their access to the Website and that they shall be obliged to abide by these Terms.
      %p
        2. Within the present Terms:
      %ul
        %li
          the Company is ALEXSONG PTE LTD, registered address 60 ALBERT STREET #10-04 OG ALBERT COMPLEX SINGAPORE (189969), registration number 199104492G.
        %li
          the User (Users, You) is an individual who accesses the website
          %a{:href => "http://www.listoteca.com/"} www.listoteca.com
          on his/her behalf. If the website was accessed on behalf of a legal entity, User hereinafter refers to the legal entity for which the website was accessed and which instructed a certain individual to accept this Terms of Use on its behalf.
        %li
          the Company and the Users shall be referred as “Party” separately and as “Parties” jointly.
        %li
          the data, research and reference material shall be referred as “Data”
        %li
          website
          %a{:href => "http://www.listoteca.com/"} www.listoteca.com
          shall be referred as “our Website”
        %li
          spamming shall be referred as the use of electronic messaging systems to send an unsolicited message (spam), especially advertising, as well as sending messages repeatedly on the same site.
      %p
        3. The objective of these Terms is to specify the terms and conditions regarding the use of the Website and the data, provided to the Users to be purchased via the Website and to govern the rights and obligations of the Parties. All data purchased are supplied in a digital form. A full description of our product can be found on our website.
      %p
        4. These Terms of Use and their integral part Privacy Policy and all the terms stated on the Website shall come into force upon the User’s access to the Website. The Company’s mission is to provide the Users with high quality and safe services, so the Company is trying to make its best in order to guarantee close to 100% uptime of the website, safe access to service and high level of data protection for the Users. Nonetheless the Company kindly asks its Clients to agree and comply with this Terms of Use and Privacy Policy.
      %p
        5. Any activity carried out via the User’s account shall be considered as carried out by the User. If the User creates an account on behalf of third (legal) entity, the Users acknowledge that they are duly authorized to act on behalf of third legal entity.
      %p
        6. The User:
      %ul
        %li
          agrees and accepts that the sale of the Data is final and non-refundable;
        %li
          enters into a binding purchase contract by processing their order;
        %li
          authorizes the Company to charge them in full for any Data acquired via the Website;
        %li
          ensures that the name, personal and financial information provided before the sale are true and correct;
        %li
          agrees that the access to the Website may be temporarily blocked due to maintenance works of our Website;
        %li
          acknowledges and declares that links to the websites and/or platforms, files or contents which are not controlled by the Company may be given via the Website, third party services may be offered, and that such links shall not be considered as provided for purposes of support to the website or its operator, or as undertaking or guaranteeing anything with regard to the website or its content, the Company shall not be liable for the platforms, websites, files and contents, services or goods or for their content.
        %li
          acknowledges and declares that the availability and quality of the Website and contents provided via the Website substantially depend upon the service quality provided by the relevant Internet Service Provider and that the Company has no responsibility for any problems arising from such service quality, that they are aware that the operation of the Website is not error free and malfunction and blocked access may be occurred from time to time.
      %p
         
      %p
        7.  The User shall:
      %ul
        %li
          follow the present Terms and other provisions that may be promulgated on our Website as frequently as circumstances dictate at the time of access to our website;
        %li
          comply with the applicable laws, including but not limited to the laws relating telemarketing, email, fax marketing, customer protection, data and privacy protection with regard to the access to the website and the use of the Data;
        %li
          be obliged to inform the Company of any unauthorized use of their username and password;
        %li
          take any legal, administrative and criminal responsibility in reference to the use of the Data;
        %li
          only use the Data in accordance with the purpose of the present Terms;
        %li
          not claim any demands if the User’s use and/or utilization of the Website was suspended or blocked temporarily or permanently in the event that the User fails to comply with these Terms.
      %p
         
      %p
        8. It is strictly forbidden for The User:
      %ul
        %li
          to act in a manner that may impede or hinder the operation of the Website;
        %li
          to use the Data from our Website for spamming and other illegal activity;
        %li
          to use the Data for consumer credit purposes, consumer insurance underwriting, employment purposes, tenant screening purposes, or for any other purposes prohibited or limited by the law or relevant regulations;
        %li
          to pass their generated username, password or membership profiles to another user or authorize third persons to use such;
        %li
          to resell and/or publish the Data or make the Data otherwise available to third parties (either fully or partially) in any way;
        %li
          to use Data for offering services competing with those offered by the Company, or in any other way to compete with our Website;
        %li
          to copy the information and/or software that are used in the design of the Website and/or use them beyond the benefit from the Website;
        %li
          to copy, distribute, process and in other means use the pictures, texts, images, documents etc. on the Website;
        %li
          to attempt any actions that may prevent the operation of software belonging to the Website or utilization of the Website by the other users;
        %li
          to load content on the Website to burden the Website excessively; access to the content on the Website, or to copy, erase, change, such content;
        %li
          to commit actions that might threaten the general security of the Website and/or harm other Users;
        %li
          to use or try to use the software that might prevent the operation of the Website and the software used, or hinder, result to break, reverse engineer, attack, keep busy or invade in other means to the operation of any software, hardware and servers, or to make efforts to provide access to the Company’s servers.
      %p
         
      %p
        9.  Under any circumstances the Company has no liability:
      %ul
        %li
          for confidentiality and security of the User's password;
        %li
          for the use or accuracy of the Data;
        %li
          for the use and management of any information that the User accessed from our Website;
        %li
          for the damages incurred by the User and/or third parties in consequence of the use of above mentioned information by any person other than the User, or loss or handover of such information;
        %li
          for damages that may be incurred by third parties as a result of the activities of the User carried out via the Website or by using the Data and/or of their breach of these Terms or any applicable law;
        %li
          in the event that the Data is not usable as a result of its failure to duly provide the necessary information;
        %li
          for any damages that may occur in consequence of the breach of contract, torts or any other reason that may arise from the access or use of the Website or of the Data, other data, programs etc. on the Website;
        %li
          on the issues where the transaction is interrupted, data is deleted or lost, the transaction or communication is delayed, and computer viruses, communication error, theft, annihilation or unauthorized access to the records, change or use of the records that may occur in consequence of the breach of these Terms, torts, omission or any other reasons;
        %li
          for any direct, indirect, incidental, special, consequential or exemplary damages, which may be incurred as a result of the use of the Website and Data, including but not limited to loss of profit, loss of goodwill or business reputation;
        %li
          for any other damages that may arise from the access to the Website or other linked websites, from the use or visit of the Website, or use of the Data.
      %p
         
      %p
        10. The User hereby indemnifies the Company in full for all unauthorized use of the Data. Any claims to be submitted by third parties within this scope, and damages that may arise from use of the Data by the User or failure of the User to perform their obligations specified in these Terms shall be recoursed to the User to be paid upon first request.
      %p
        11. The Company:
      %ul
        %li
          issues a non-exclusive, non-transferable license to Users regarding the use of the Data in accordance with these Terms;
        %li
          makes no warranty that the Data is useful for any particular purpose, the data is to be sold “as is”;
        %li
          does not provide any commitment or undertaking with regard to the authenticity, accuracy or security of the Data;
        %li
          disclaims all warranties whether express or implied, including but not limited to the implied warranties and conditions of merchantability and fitness for a particular purpose or use;
        %li
          does not guarantee the absence of viruses, worms or any other attacks and unauthorized access to the Website or transfers to or from the Website;
        %li
          shall not be obliged to provide support, maintenance, update or new versions regarding the software;
        %li
          reserves the right to review materials used by the User in promotions to ensure the compliance of the User’s activity with this Terms; anyway the Company’s omission to review any such materials, or to object to any use thereof, shall not be interpreted as the Company’s acceptance of the materials or be considered as a waiver of any rights the Company may have or limit any obligations the User may have with regard to the use of the Data;
        %li
          may suspend the User’s use and/or utilization of the Website temporarily or permanently in the event that the User fails to comply with these Terms and other terms and rules published on the Website, that the User’s activities creates legal, technical and especially information security risks, the User harms the third parties’ individual and commercial rights;
        %li
          reserves the right to terminate or suspend the Website and/or these Terms, at any time for a definite or indefinite period.
      %p
         
      %p
        12. All rights of the software, visuals and designs, texts, logos, graphics with respect to the Website shall belong to the Company.
      %p
        13.  The Company is entitled to unilaterally amend, make additions to or renew these Terms and Privacy Policy which is an annex to these Terms and other terms they publish via the Website at its own discretion and reorganize the Website, change its subject, scope and content, cease the sale of the Data via the Website or suspend the Website without any reason or notification. The amendments issued by the Company on the Terms, Privacy Policy and other additional documents shall enter into force on the date of the promulgation on the Website, and the User shall be deemed to acknowledge the updated terms by using the Website.
      %p
        14.  Rules with respect to the User information are set forth in the Privacy Policy, and the Company shall not use the User information out of the scope stated in these Terms and the Privacy Policy and shall not disclose such information to the third parties. In some cases, the Company may collect non-personal data by way of cookies. Such information shall be used in order to understand the User better and increase the utility, performance and effectiveness of the Website. The User admits that they permit such usage of their information. The Company shall also have authority to use the information provided by the User in order to create profiles, perform statistical works and carry out their own marketing activities.
      %p
        15. Any dispute arising out of or in connection with this Terms shall be referred to and finally resolved by arbitration administered by the Singapore International Arbitration Centre (“SIAC”) in accordance with the Arbitration Rules of the Singapore International Arbitration Centre ("SIAC Rules") for the time being in force, which rules are deemed to be incorporated by reference in this clause. The seat of the arbitration shall be Singapore. The Tribunal shall consist of one arbitrator. The language of the arbitration shall be English. The relationships between Parties are governed by the law of Singapore.
      %p
        %a{:href => "mailto:pp@listoteca.com"}