.main{:role => "main"}
  .slider-container.light.rev_slider_wrapper
    #revolutionSlider.slider.rev_slider{"data-plugin-options" => "{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on'}", "data-plugin-revolution-slider" => ""}
      %ul
        %li{"data-transition" => "fade"}
          %img.rev-slidebg{:alt => "", "data-bgfit" => "cover", "data-bgparallax" => "0", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", "data-duration" => "9000", "data-ease" => "Linear.easeNone", "data-kenburns" => "on", "data-offsetend" => "0 0", "data-offsetstart" => "0 0", "data-rotateend" => "0", "data-rotatestart" => "0", "data-scaleend" => "100", "data-scalestart" => "150", :src => "/images/front_theme_img/slides/slide-corporate-2-1.jpg"}/
          .tp-caption{"data-start" => "1000", "data-transform_in" => "x:[-300%];opacity:0;s:500;", "data-x" => "177", "data-y" => "188"}
            %img{:alt => "", :src => "/images/front_theme_img/slides/slide-title-border-light.png"}/
          .tp-caption.top-label{"data-start" => "500", "data-transform_in" => "y:[-300%];opacity:0;s:500;", "data-x" => "227", "data-y" => "180"} DO YOU NEED A NEW
          .tp-caption{"data-start" => "1000", "data-transform_in" => "x:[300%];opacity:0;s:500;", "data-x" => "480", "data-y" => "188"}
            %img{:alt => "", :src => "/images/front_theme_img/slides/slide-title-border-light.png"}/
          .tp-caption.main-label{"data-mask_in" => "x:0px;y:0px;", "data-start" => "1500", "data-transform_in" => "y:[100%];s:500;", "data-transform_out" => "opacity:0;s:500;", "data-whitespace" => "nowrap", "data-x" => "135", "data-y" => "210"} WEB DESIGN?
          .tp-caption.bottom-label{"data-start" => "2000", "data-transform_in" => "y:[100%];opacity:0;s:500;", "data-x" => "185", "data-y" => "280"} Check out our options and features.
        %li{"data-transition" => "fade"}
          %img.rev-slidebg{:alt => "", "data-bgfit" => "cover", "data-bgparallax" => "0", "data-bgposition" => "right center", "data-bgpositionend" => "center center", "data-bgrepeat" => "no-repeat", "data-duration" => "9000", "data-ease" => "Linear.easeNone", "data-kenburns" => "on", "data-offsetend" => "0 0", "data-offsetstart" => "0 0", "data-rotateend" => "0", "data-rotatestart" => "0", "data-scaleend" => "100", "data-scalestart" => "110", :src => "/images/front_theme_img/slides/slide-corporate-2.jpg"}/
          .tp-caption.featured-label{"data-start" => "500", "data-transform_in" => "y:[100%];s:500;", "data-transform_out" => "opacity:0;s:500;", "data-x" => "center", "data-y" => "210", :style => "z-index: 5"} WELCOME TO PORTO
          .tp-caption.bottom-label{"data-elementdelay" => "0.05", "data-mask_in" => "x:0px;y:0px;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "chars", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;", "data-transform_out" => "opacity:0;s:500;", "data-x" => "center", "data-y" => "270", :style => "font-size: 23px; line-height: 30px;"} The #1 Selling HTML Site Template on ThemeForest
  #home-intro.home-intro
    .container
      .row
        .col-md-8
          %p
            The fastest way to grow your business with the leader in
            %em Technology
            %span Check out our options and features included.
        .col-md-4
          .get-started
            %a.btn.btn-lg.btn-primary{:href => "#"} Get Started Now!
            .learn-more
              or
              %a{:href => "index.html"} learn more.
  .container
    .row.center
      .col-md-12
        %h1.mb-sm.word-rotator-title
          Porto is
          %strong.inverted
            %span.word-rotate{"data-plugin-options" => "{'delay': 2000, 'animDelay': 300}"}
              %span.word-rotate-items
                %span incredibly
                %span especially
                %span extremely
          beautiful and fully responsive.
        %p.lead
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
  .home-concept
    .container
      .row.center
        %span.sun
        %span.cloud
        .col-md-2.col-md-offset-1
          .process-image.appear-animation{"data-appear-animation" => "bounceIn"}
            %img{:alt => "", :src => "/images/front_theme_img/home-concept-item-1.png"}/
            %strong Strategy
        .col-md-2
          .process-image.appear-animation{"data-appear-animation" => "bounceIn", "data-appear-animation-delay" => "300"}
            %img{:alt => "", :src => "/images/front_theme_img/home-concept-item-2.png"}/
            %strong Planning
        .col-md-2
          .process-image.appear-animation{"data-appear-animation" => "bounceIn", "data-appear-animation-delay" => "600"}
            %img{:alt => "", :src => "/images/front_theme_img/home-concept-item-3.png"}/
            %strong Build
        .col-md-4.col-md-offset-1
          .project-image
            #fcSlideshow.fc-slideshow
              %ul.fc-slides
                %li
                  %a{:href => "portfolio-single-small-slider.html"}
                    %img.img-responsive{:alt => "", :src => "/images/front_theme_img/projects/project-home-1.jpg"}/
                %li
                  %a{:href => "portfolio-single-small-slider.html"}
                    %img.img-responsive{:alt => "", :src => "/images/front_theme_img/projects/project-home-2.jpg"}/
                %li
                  %a{:href => "portfolio-single-small-slider.html"}
                    %img.img-responsive{:alt => "", :src => "/images/front_theme_img/projects/project-home-3.jpg"}/
            %strong.our-work Our Work
  .container
    .row
      %hr.tall/
  .container
    .row
      .col-md-8
        %h2
          Our
          %strong Features
        .row
          .col-sm-6
            .feature-box
              .feature-box-icon
                %i.fa.fa-group
              .feature-box-info
                %h4.heading-primary.mb-none Customer Support
                %p.tall Lorem ipsum dolor sit amet, consectetur adip.
            .feature-box
              .feature-box-icon
                %i.fa.fa-file
              .feature-box-info
                %h4.heading-primary.mb-none HTML5 / CSS3 / JS
                %p.tall Lorem ipsum dolor sit amet, adip.
            .feature-box
              .feature-box-icon
                %i.fa.fa-google-plus
              .feature-box-info
                %h4.heading-primary.mb-none 500+ Google Fonts
                %p.tall Lorem ipsum dolor sit amet, consectetur adip.
            .feature-box
              .feature-box-icon
                %i.fa.fa-adjust
              .feature-box-info
                %h4.heading-primary.mb-none Colors
                %p.tall Lorem ipsum dolor sit amet, consectetur adip.
          .col-sm-6
            .feature-box
              .feature-box-icon
                %i.fa.fa-film
              .feature-box-info
                %h4.heading-primary.mb-none Sliders
                %p.tall Lorem ipsum dolor sit amet, consectetur.
            .feature-box
              .feature-box-icon
                %i.fa.fa-user
              .feature-box-info
                %h4.heading-primary.mb-none Icons
                %p.tall Lorem ipsum dolor sit amet, consectetur adip.
            .feature-box
              .feature-box-icon
                %i.fa.fa-bars
              .feature-box-info
                %h4.heading-primary.mb-none Buttons
                %p.tall Lorem ipsum dolor sit, consectetur adip.
            .feature-box
              .feature-box-icon
                %i.fa.fa-desktop
              .feature-box-info
                %h4.heading-primary.mb-none Lightbox
                %p.tall Lorem sit amet, consectetur adip.
      .col-md-4
        %h2 and more...
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                  %i.fa.fa-usd
                  Pricing Tables
            #collapseOne.accordion-body.collapse.in
              .panel-body
                Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                  %i.fa.fa-comment
                  Contact Forms
            #collapseTwo.accordion-body.collapse
              .panel-body
                Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                  %i.fa.fa-laptop
                  Portfolio Pages
            #collapseThree.accordion-body.collapse
              .panel-body
                Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
    %hr.tall/
    .row.center
      .col-md-12
        %h2.mb-sm.word-rotator-title
          We're not the only ones
          %strong
            %span.word-rotate{"data-plugin-options" => "{'delay': 3500, 'animDelay': 400}"}
              %span.word-rotate-items
                %span excited
                %span happy
          about Porto Template...
        %h4.heading-primary.lead.tall 25,000 customers in 100 countries use Porto Template. Meet our customers.
    .row.center
      .owl-carousel.owl-theme{"data-plugin-options" => "{'items': 6, 'autoplay': true, 'autoplayTimeout': 3000}"}
        %div
          %img.img-responsive{:alt => "", :src => "/images/front_theme_img/logos/logo-1.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/front_theme_img/logos/logo-2.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/front_theme_img/logos/logo-3.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/front_theme_img/logos/logo-4.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/front_theme_img/logos/logo-5.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/front_theme_img/logos/logo-6.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/front_theme_img/logos/logo-4.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/front_theme_img/logos/logo-2.png"}/
  %section.section.section-custom-map
    %section.section.section-default.section-footer
      .container
        .row
          .col-md-6
            .recent-posts.mb-xl
              %h2
                Latest
                %strong Blog
                Posts
              .row
                .owl-carousel.owl-theme.mb-none{"data-plugin-options" => "{'items': 1}"}
                  %div
                    .col-md-6
                      %article
                        .date
                          %span.day 15
                          %span.month Jan
                        %h4.heading-primary
                          %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        %p
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.
                          %a.read-more{:href => "/"}
                            read more
                            %i.fa.fa-angle-right
                    .col-md-6
                      %article
                        .date
                          %span.day 15
                          %span.month Jan
                        %h4.heading-primary
                          %a{:href => "blog-post.html"} Lorem ipsum dolor
                        %p
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
                          %a.read-more{:href => "/"}
                            read more
                            %i.fa.fa-angle-right
                  %div
                    .col-md-6
                      %article
                        .date
                          %span.day 12
                          %span.month Jan
                        %h4.heading-primary
                          %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        %p
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.
                          %a.read-more{:href => "/"}
                            read more
                            %i.fa.fa-angle-right
                    .col-md-6
                      %article
                        .date
                          %span.day 11
                          %span.month Jan
                        %h4.heading-primary
                          %a{:href => "blog-post.html"} Lorem ipsum dolor
                        %p
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          %a.read-more{:href => "/"}
                            read more
                            %i.fa.fa-angle-right
                  %div
                    .col-md-6
                      %article
                        .date
                          %span.day 15
                          %span.month Jan
                        %h4.heading-primary
                          %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        %p
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.
                          %a.read-more{:href => "/"}
                            read more
                            %i.fa.fa-angle-right
                    .col-md-6
                      %article
                        .date
                          %span.day 15
                          %span.month Jan
                        %h4.heading-primary
                          %a{:href => "blog-post.html"} Lorem ipsum dolor
                        %p
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
                          %a.read-more{:href => "/"}
                            read more
                            %i.fa.fa-angle-right
          .col-md-6
            %h2
              %strong What
              Client’s Say
            .row
              .owl-carousel.owl-theme.mb-none{"data-plugin-options" => "{'items': 1}"}
                %div
                  .col-md-12
                    .testimonial.testimonial-primary
                      %blockquote
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.
                      .testimonial-arrow-down
                      .testimonial-author
                        .testimonial-author-thumbnail.img-thumbnail
                          %img{:alt => "", :src => "/images/front_theme_img/clients/client-1.jpg"}/
                        %p
                          %strong John Smith
                          %span CEO &amp; Founder - Okler
                %div
                  .col-md-12
                    .testimonial.testimonial-primary
                      %blockquote
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
                      .testimonial-arrow-down
                      .testimonial-author
                        .testimonial-author-thumbnail.img-thumbnail
                          %img{:alt => "", :src => "/images/front_theme_img/clients/client-1.jpg"}/
                        %p
                          %strong John Smith
                          %span CEO &amp; Founder - Okler