.main{:role => "main"}



  .slider-container.light.rev_slider_wrapper
    #revolutionSlider.slider.rev_slider{"data-plugin-options" => "{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on'}", "data-plugin-revolution-slider" => ""}
      %ul
        %li{"data-transition" => "fade"}
          %img.rev-slidebg{:alt => "", "data-bgfit" => "cover", "data-bgparallax" => "0", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", "data-duration" => "9000", "data-ease" => "Linear.easeNone", "data-kenburns" => "on", "data-offsetend" => "0 0", "data-offsetstart" => "0 0", "data-rotateend" => "0", "data-rotatestart" => "0", "data-scaleend" => "100", "data-scalestart" => "150", :src => "/images/front_theme_img/slides/slide-listoteca-1.jpg"}/

          .tp-caption.main-label{"data-mask_in" => "x:0px;y:0px;", "data-start" => "1500", "data-transform_in" => "y:[100%];s:500;", "data-transform_out" => "opacity:0;s:500;", "data-whitespace" => "nowrap", "data-x" => "13", "data-y" => "45"}
            Find new leads
            %br
            Speed up your sales

          .tp-caption.bottom-label{"data-start" => "2000", "data-transform_in" => "y:[100%];opacity:0;s:500;", "data-x" => "13", "data-y" => "180"} Ready marketing and industry companies lists. Lists ready to work.

  // [[ Our Lists Block ]] start
  .container{style: "margin-top: 30px"}
    .row.center
      .col-md-12
        %h2.mb-sm.word-rotator-title.bold
          Our Data. Complete and Precise.
        %p.lead
          Boost your sales with Lisoteca – the premier source of up-to-date company and contact information.
          -#%br/
          -#Our lists are ready for immediate use: pay online and download the list to CRM or pass to marketing and sales.

  %section.section{style: "margin-bottom: 0;"}
    .container
      .row
        .col-md-12
          .row
            .col-md-4
              .feature-box.feature-box-style-2
                .feature-box-icon
                  %i.fa.fa-database
                .feature-box-info
                  %h4.mb-none Unprecedent coverage

                  %p.tall
                    Industry-leading coverage of companies and their firmographic data
              -#.feature-box.feature-box-style-2
              -#  .feature-box-icon
              -#    %i.fa.fa-pie-chart
              -#  .feature-box-info
              -#    %h4.mb-none Focus on submitted categories
              -#
              -#    %p.tall We sell only those categories lists where our data is good indeed
              / .feature-box.feature-box-style-2
              /   .feature-box-icon
              /     %i.fa.fa-thumbs-o-up
              /   .feature-box-info
              /     %h4.mb-none Fair price
              /     %p.tall
              /       High data quality and relevant price result in low cost of one efficient B2B contact
            .col-md-4
              .feature-box.feature-box-style-2
                .feature-box-icon
                  %i.fa.fa-bullseye
                .feature-box-info
                  %h4.mb-none Up-to-date data
                  %p.tall Data is updated on a monthly basis

              -#.feature-box.feature-box-style-2
                -#.feature-box-icon
                -#  %i.fa.fa-check
                -#.feature-box-info
                -#  %h4.mb-none Quality guarantee
                -#  %p.tall
                -#    We provide free update if over 5% of the list items are irrelevant

            .col-md-4
              .feature-box.feature-box-style-2
                .feature-box-icon
                  %i.fa.fa-rocket
                .feature-box-info
                  %h4.mb-none Ready to go

                  %p.tall Download your lists immediately and import into your CRM


              -#.feature-box.feature-box-style-2
              -#  .feature-box-icon
              -#    %i.fa.fa-puzzle-piece
              -#  .feature-box-info
              -#    %h4.mb-none CRM-ready
              -#
              -#    %p.tallOur Lists are ready to import into most popular CRM solutions



  // [[ Our Lists Block ]] end
  // [[ Our Data Block ]] start
  .container{style: "margin-top: 30px"}
    .row.center
      .col-md-12
        %h2.mb-sm.word-rotator-title.bold
          Our data. Premium data.

        %p.lead
          The efficiency of any marketing-list-use directly depends on the data on which it is built. 
          %br
          That’s why we pay maximum attention to the quality of the initial data we collect.
        %p.lead
          Most other service providers only use aggregated information. Not us.
          %br
          We use our own methods of data collecting and processing,
          %br
          while also creating our own content.
        %p.lead
          Information for the lists is collected from more than 20 thousand public and Internet sources: - company filings, websites, press releases and news
          %br
          Our full-time data researchers verify the received data quality as using algorithmic data processing as manually. 
          %br
          Our sophisticated approach to quality allows for Premium Data.


  %section.section{style: "margin-bottom: 0;"}
    .container
      .row
        .counters
          .col-md-4.col-sm-4
            .counter.counter-dark
              %i.fa.fa-building
              %strong{"data-append" => "M", "data-to" => "36"} 0
              %label companies
          .col-md-4.col-sm-4
            .counter.counter-dark
              %i.fa.fa-binoculars
              %strong{"data-to" => "20000"} 0
              %label data sources
          .col-md-4.col-sm-4
            .counter.counter-dark
              %i.fa.fa-refresh
              %strong 24/7
              %label data collecting and update
  // [[ Our Data Block ]] end

  .container
    .row.center
      .col-md-12
        %h2.mb-none.word-rotator-title.mt-lg.bold
          Our Lists. Available Immediately.
        %p.lead
          Our lists are instantly available for your convenience. Pay online to download the list immediately to CRM; or pass it on to marketing and sales.
  
  %section.parallax.section.section-text-light.section-parallax{"data-image-src" => "/images/front_theme_img/parallax-2.jpg", "data-plugin-options" => "{'speed': 1.5}", "data-plugin-parallax" => "", style: "margin-top: 0;"}
    %section.call-to-action
      .container
        .row
          .col-md-12
            .call-to-action-content
              %h3
                Use the right lists for your business development

            .call-to-action-btn
              = link_to front_products_path, class: 'btn btn-lg btn-primary', target: '_blank' do
                Select list
  .container
    .row.center
      .col-md-12
        %h2.mb-none.word-rotator-title.mt-lg.bold
          Our clients

        %p.lead Companies that successfully use our data for business development.
    .row.center.mt-xl
      .owl-carousel.owl-theme{"data-plugin-options" => "{'items': 5, 'autoplay': true, 'autoplayTimeout': 3000}"}
        %div
          %img.img-responsive{:alt => "", :src => "/images/clients/ebay-logo.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/clients/hewlett-packard-enterprise-logo.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/clients/hub-spot-logo.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/clients/meltwater-logo.png"}/
        %div
          %img.img-responsive{:alt => "", :src => "/images/clients/upwork-logo.png"}/

  // [[ Our Clients Block]] start



  // [[ Our Clients Block]] end
