<form action="/orders/stripe_success" method="post" id="payment-form" class="form-horizontal form-bordered">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <%= hidden_field :order, :id, value: @user_cart.order.id -%>
  <div class="form-row">
    <div class="col-md-6">
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element" data-public-stripe-key="<%= Rails.configuration.stripe[:publishable_key] %>">
        <!-- a Stripe Element will be inserted here. -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="button" style="display: inline;">
        <button class="btn btn-primary" style="margin-top: 17px;">Submit Payment of $<%= @user_cart.order.total_price %></button>
      </div>
      <div class="tos" style="display: inline-grid; margin-top: 30px; margin-left: 15px;">
        By proceeding, you are agreeing to our <%= link_to 'Terms of Use', terms_of_use_front_pages_url %>
      </div>
    </div>
<!--     <div class="col-md-5 text-right">
      
    </div>
 -->
    <!-- Used to display form errors -->
    <div id="card-errors"></div>
  </div>

  
</form> 
