.main.shop{:role => "main"}
  .container{style: "margin-top: 35px;"}
    .row
      .col-md-12
        .featured-boxes
          .row
            .col-md-12
              .featured-box.featured-box-primary.align-left.mt-sm
                .box-content
                  %table.shop_table.cart
                    %thead
                      %tr
                        %th.product-remove
                           
                        %th.product-thumbnail
                           
                        %th.product-name
                          Product
                        %th.product-price
                          Price
                    %tbody
                      - @user_cart.cart_products.each do |cart_product|
                        %tr.cart_table_item
                          %td.product-remove
                            = link_to remove_from_cart_front_product_path(cart_product.product.articulus), method: "delete", title: "Remove this item", class: "remove" do
                              %i.fa.fa-times
                          %td.product-thumbnail
                            = link_to front_product_path(cart_product.product.articulus) do
                              = image_tag cart_product.product.public_cover(:medium), class: "img-responsive", height: "100", width: "100"
                          %td.product-name
                            = link_to cart_product.product.title, front_product_path(cart_product.product.articulus)
                          %td.product-price
                            %span.amount= show_price(cart_product.price)
                      %tr.cart_table_item
                        %td.product-remove
                        %td.product-thumbnail
                        %td.product-name
                          %span.pull-right Total:
                        %td.product-price
                          %span.amount= show_price(@user_cart.cart_products.sum(:price))
          - if current_user
            .row
              / .col-sm-9.col-md-9.col-xs-12
              %h4
                Payment options
              .form-group.row
                .form-check
                  %label.form-check-label.col-xs-1
                    = radio_button_tag 'payment', 'paypal', false, { class: 'payment-variant'}
                    PayPal
                  .col-xs-11
                    .payment-details.paypal.hidden
                      .col-xs-2
                        = link_to 'Pay with Paypal', @paypal.redirect_url , class: 'btn  btn-primary', style: "margin-top: 10px;"
                      .col-xs-5.text-left{style: "margin-top: 16px;"}
                        By proceeding, you are agreeing to our #{link_to 'Terms of Use', terms_of_use_front_pages_url}

              .form-group.row
                .form-check
                  %label.form-check-label.col-xs-2
                    = radio_button_tag 'payment', 'card', false, { class: 'payment-variant'}
                    Credit/Debit card
                  .col-xs-10
                    .payment-details.card.hidden.block
                      / %input{type: "text", class: 'form-control', placeholder: 'Place for Stripe elements input'}
                      = render 'stripe', locals: {order: @user_cart.order}

              / .col-sm-3.col-md-3.text-left{style: 'margin:10px 0, float: left;'}
              /   By proceeding, you are agreeing to our #{link_to 'Terms of Use', terms_of_use_front_pages_url}.

          - else
            - if @recently_registred
              .text-left
                %h4
                  Thanks! Activation instructions have been sent to your email account!
            -else
              = link_to front_sign_in_path, class: "btn pull-right btn-primary btn-lg" do
                Sign in to checkout
                %i.fa.fa-angle-right.ml-xs
    .row
      = image_tag('/comodo_secure_seal.png')
