.main{:role => "main"}
  .container
    .row
      .col-md-12
        .featured-boxes
          .row
            .col-sm-12.col-md-offset-3.col-sm-6
              .featured-box.featured-box-primary.align-left.mt-xlg
                .box-content
                  %h4.heading-primary.text-uppercase.mb-md Register An Account
                  = simple_form_for @user, url: front_users_path, class: "frmSignUp" do |f|
                    .row
                      .form-group
                        .col-md-12
                          %label First name
                          = f.input :first_name, label: false, input_html: {class: "input-lg"}
                    .row
                      .form-group
                        .col-md-12
                          %label Last name
                          = f.input :last_name, label: false, input_html: {class: "input-lg"}
                    .row
                      .form-group
                        .col-md-12
                          %label E-mail Address
                          = f.input :email, label: false, input_html: {class: "input-lg"}
                    .row
                      .form-group
                        .col-md-6
                          %label Password
                          = f.input :password, label: false, input_html: {class: "input-lg"}
                        .col-md-6
                          %label Re-enter Password
                          = f.input :password_confirmation, label: false, input_html: {class: "input-lg"}
                    .row
                      .form-group
                        .col-md-12
                          %label Company
                          = f.input :company, label: false, input_html: {class: "input-lg"}
                    .row
                      .form-group
                        .col-md-12
                          %label Country
                          = f.input :country_code, as: :country, label: false, input_html: {class: "input-lg"}
                    .row
                      .col-md-12
                        %input.btn.btn-primary.pull-right.mb-xl{"data-loading-text" => "Loading...", :type => "submit", :value => "Register"}/
