.container{style: "margin-top: 35px;"}
  - if @user.errors.present?
    .row
      .col-md-offset-3.col-md-6
        .alert.alert-danger
          %strong Profile uncompleted!
          Please fill out required fields.

  - if !@user.is_email_confirmed && @user.email.present?
    .row
      .col-md-offset-3.col-md-6
        .alert.alert-warning
          %strong Email is not confirmed!
          Please check out your email box to complete registration.
  .row
    .col-md-offset-3.col-md-6
      = simple_form_for @user, url: front_profile_path, class: "frmSignUp" do |f|

        .row
          .form-group
            .col-md-12
              %label First name*
              = f.input :first_name, label: false, input_html: {class: "input-lg"}
        .row
          .form-group
            .col-md-12
              %label Last name*
              = f.input :last_name, label: false, input_html: {class: "input-lg"}
        .row
          .form-group
            .col-md-12
              %label Email*
              = f.input :email, label: false, input_html: {class: "input-lg", disabled: !@user.email.blank?}
        .row
          .form-group
            .col-md-12
              %label Company*
              = f.input :company, label: false, input_html: {class: "input-lg"}
        .row
          .form-group
            .col-md-12
              %label Country*
              = f.input :country_code, as: :country, label: false, input_html: {class: "input-lg"}
        .row
          .col-md-12
            %input.btn.btn-primary.pull-right.mb-xl{"data-loading-text" => "Loading...", :type => "submit", :value => "Update"}/
