.error {
  @include transition--fast;

  margin-left: 6px;
  font-size: 11px;
  color: $red;
  animation: fadeIn #{$duration--fast} ease;

  &__field {
    @include transition--fast;

    border: 1px $red solid;

    &:hover,
    &:focus,
    &:active {
      @include transition--fast;

      border: 1px $red solid;
    }
  }
}
