.image_for_upload_wrapper {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  position: relative;

  &.look_image_admin{
    width: 100%;
    height: 300px;
    cursor: pointer;
  }

  img.for-upload {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;

    @include transform_mixin(-50%, -50%);
  }
}