// Durations
$duration--fast: 0.25s;
$duration--slow: 1s;
$red: #DB2E59;

@mixin gradient($deg, $from_color, $to_color) {
  background: -webkit-linear-gradient($deg, $from_color, $to_color);
  background: -o-linear-gradient($deg, $from_color, $to_color);
  background: -moz-linear-gradient($deg, $from_color, $to_color);
  background: linear-gradient($deg, $from_color, $to_color);
}

@mixin transform_mixin($arg1, $arg2) {
  -webkit-transform: translate($arg1, $arg2);
  -moz-transform: translate($arg1, $arg2);
  transform: translate($arg1, $arg2);
}

@mixin opacity($opacity) {
  opacity: $opacity;

  $opacity-ie: $opacity * 100;

  filter: alpha(opacity = $opacity-ie);

  //IE8
}

// default transition
@mixin transition--fast {
  transition: all #{$duration--fast} ease;
}

// slow transition
@mixin transition--slow {
  transition: all #{$duration--slow} ease;
}

// fast transition
@mixin transition--none {
  transition: none;
}