.gridlist-toggle {
  a {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #ccc;
    display: inline-block;
    font-family: "Elusive-Icons";
    width: 2.2em;
    height: 2.2em;
    line-height: 2.15em;
    margin-right: 4px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }

  a.active {
    color: rgba(220,0,0,1);
  }
}



.widget_product_categories, .widget_price_filter, .widget_layered_nav, .widget_layered_nav_filters, .widget_rating_filter {
    border: 1px solid #ddd;
    border-radius: 7px;
    background: #fbfbfb;
    margin-bottom: 1.0714em;
    margin-top: 0;
    position: relative;
}
.widget {
    margin-bottom: 30px;

    ul {
      list-style: none;
      margin: 0;

      li {
        margin: 0;
        padding: 7px 0;
        line-height: 1.4;
      }
    }
}


.widget-title {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-radius: 6px 6px 0 0;
  font-size: 0.9286em;
  font-weight: 700;
  line-height: 1.4;
  padding: 0.7143em 1.0714em;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.product-categories {
  padding: 0.7143em 1.0714em;
  border-width: 0;
  margin: 0;

  a {
    color: #777777;
  }

  .count {
    color: #aaaaaa;
  }

  .active {
    a { color: rgba(220,0,0,1); }

  }
}
