$base-red: rgba(210,0,0,1);

@mixin gradient($args...) {
  background: -webkit-linear-gradient($args);
  background: -o-linear-gradient($args);
  background: -moz-linear-gradient($args);
  background: linear-gradient($args);
}

@mixin transform_mixin($arg1, $arg2){
  -webkit-transform: translate($arg1, $arg2);
  -moz-transform: translate($arg1, $arg2);
  transform: translate($arg1, $arg2);
}
