@import 'filter';

span.amount{
  &.product-discount{
    font-size: 0.9em !important;
    font-weight: normal;
    text-decoration: line-through;
  }
  font-size: 1.1em;
  font-weight: bold;
}



#products-table {
  .product--title {
    height: 4em;
  }
}

#products-list {
  .product--title {
    margin: 0.2em 0 !important;
  }

  %hr {
    margin: 10px 0;
    display: block;
  }
}

.product--title {
  text-transform: none;
}

.product-text {
  a {
    color: black;
    text-decoration: none;

  }
  text-decoration: none;
}
.product--img-wrapper{
  padding: 3px;
  border-radius: 7px;
  .product--labels{
    position: relative;
    span.sale{
      font-size: 13px;
      position: absolute;
      right: 6px;
      top: 6px;
      background: #e27c7c;
      padding: 2px 5px;
      color: white;
      border-radius: 7px;
    }
  }
  img{
    border-radius: 7px;
    width: 200px;
  }
}

.flex-container-approwed-row{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0 0 5px 20px !important;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container-column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-container-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 5px;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.flex-align-left{
  justify-content: flex-end;
}

.flex-align-right{
  justify-content: flex-start;
}

.flex-stable-size{
  flex: 0 0 auto;
}

.product--wrapper{
  display: inline-block;
  padding: 8px 8px 25px 8px;
  .product--title{
    overflow: hidden;
    height: 33px;
    text-overflow: ellipsis;
    margin: 6px 0;
    color: #777;
    word-wrap: break-word;
  }
  .product--devider{
    height: 1px;
    .left--side{
      @include gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);
      float: left;
      height: 1px;
      width: 50%;
      margin-top: 1px;
    }
    .right--side{
      @include gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);
      float: right;
      height: 1px;
      width: 50%;
      margin-top: 1px;
    }
  }
  .product--price-info{
    margin: 6px 0;
  }
}
