%section.panel
  %header.panel-heading
    .panel-actions
    %h2.panel-title Create list
  .panel-body
    = f.input :title, placeholder: 'List title', label: "List title", label_html: {data: {"error-label" => "title"}}, input_html: {data: {"error-input" => "title"}}
    = f.input :orb_num, placeholder: 'Orb Number', as: :integer, label: "Orb Number", label_html: {data: {"error-label" => "orb_num"}}, input_html: {data: {"error-input" => "orb_num"}}
    = f.input :entity_type, label: "Entity Type", label_html: {data: {"error-label" => "entity_type"}}, input_html: {data: {"error-input" => "entity_type"} }, collection: ['company', 'branch']
    = f.input :name, placeholder: 'Company name', label: "Company name", label_html: {data: {"error-label" => "name"}}, input_html: {data: {"error-input" => "name"}}
    = f.input :name_prefix, placeholder: 'Name prefix', label: "Name prefix", label_html: {data: {"error-label" => "name_prefix"}}, input_html: {data: {"error-input" => "name_prefix"}}
    = f.input :webdomain, placeholder: 'Webdomain', label: "Webdomain", label_html: {data: {"error-label" => "webdomain"}}, input_html: {data: {"error-input" => "webdomain"}}
    = f.input :industry, label: "Industry", label_html: {data: {"error-label" => "industry"}}, input_html: {data: {"error-input" => "industry"} }, collection: Orb::Industry.all.pluck(:name)
    = f.input :naics_codes, label: "NAIC Codes", label_html: {data: {"error-label" => "naics_codes"}}, input_html: {data: {"error-input" => "naics_codes"}, multiple: true, size: 7 }, collection: @naics_codes
    = f.input :sic_codes, label: "SIC Codes", label_html: {data: {"error-label" => "sic_codes"}}, input_html: {data: {"error-input" => "sic_codes"}, multiple: true, size: 3 }, collection: @sic_codes
    = f.input :employees, label: "Employees", label_html: {data: {"error-label" => "employees"}}, input_html: {data: {"error-input" => "employees"}, multiple: true, size: 3 }, collection: ['1-10', '10-50', '50-200', '200-500', '500-1K', '1K-5K', '5K-10K', '10K']
    = f.input :revenue, label: "Revenue", label_html: {data: {"error-label" => "revenue"}}, input_html: {data: {"error-input" => "revenue"}, multiple: true, size: 3 }, collection: ['0-1m', '1m-10m', '10m-50m', '50m-100m', '100m-200m', '200m-1b', '1b']
    = f.input :city, placeholder: 'City', label: "City", label_html: {data: {"error-label" => "city"}}, input_html: {data: {"error-input" => "city"}}
    = f.input :state, placeholder: 'State', label: "State", label_html: {data: {"error-label" => "state"}}, input_html: {data: {"error-input" => "state"}}
    = f.input :zip, placeholder: 'Zip Code', label: "Zip Code", label_html: {data: {"error-label" => "zip"}}, input_html: {data: {"error-input" => "zip"}}
    = f.input :country, placeholder: 'Country', label: "Country", label_html: {data: {"error-label" => "country"}}, input_html: {data: {"error-input" => "coutry"}}
    = f.input :parent_orb_num, placeholder: 'Parent ORB number', label: "Parent ORB number", label_html: {data: {"error-label" => "parent_orb_num"}}, input_html: {data: {"error-input" => "parent_orb_num"}}
    = f.input :rankings, label: "Rankings", label_html: {data: {"error-label" => "rankings"}}, input_html: {data: {"error-input" => "rankings"}, multiple: true, size: 5 }, collection: Orb::Ranking.all.pluck(:name)
    = f.input :technologies, label: "Technologies", label_html: {data: {"error-label" => "technologies"}}, input_html: {data: {"error-input" => "technologies"}, multiple: true, size: 5 }, collection: Orb::Technology.all.pluck(:name)
    = f.input :tech_categories, label: "Technology Categories", label_html: {data: {"error-label" => "tech_categories"}}, input_html: {data: {"error-input" => "tech_categories"}, multiple: true, size: 5 }, collection: Orb::TechnologyCategory.all.pluck(:name)
    = f.input :importance_score, label: "Importance Score", label_html: {data: {"error-label" => "importance_score"}}, input_html: {data: {"error-input" => "importance_score"}}, collection: ['A', 'B', 'C']
  %footer.panel-footer
    = button_tag "Check count", type: 'button', class: "btn btn-default", id: "check_count"
    %span{:id => 'company_count'}
      Company count: 
    .right-wrapper.pull-right
      %button.btn.btn-primary Submit
      = link_to "Cancel", workroom_root_path, class: "btn btn-default"


= javascript_include_tag 'workroom_base'
= javascript_include_tag "workroom/lists/count.js"