<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:CharSet="204" x:Family="Swiss" ss:Size="11"
    ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s57">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s58">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
  </Style>
  <Style ss:ID="s59">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s60">
   <Font ss:FontName="Calibri" x:CharSet="204" x:Family="Swiss" ss:Size="16"
    ss:Color="#000000" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s61">
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s62">
   <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s63">
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s64">
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s65">
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s66">
   <Font ss:FontName="Calibri" x:CharSet="204" x:Family="Swiss" ss:Size="11"
    ss:Color="#000000" ss:Bold="1"/>
   <NumberFormat/>
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s67">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s68">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s69">
   <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <NumberFormat ss:Format="0"/>
  </Style>
 </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Column ss:AutoFitWidth="0" ss:Width="70"/>
      <Column ss:Width="80"/>
      <Column ss:Width="285"/>
      <Column ss:Width="220"/>
      <Column ss:Width="140"/>
      <Column ss:Width="70"/>
      <Column ss:Width="110"/>
      <Column ss:Width="700"/>
      <Column/>
      <Column ss:Width="100"/>
      <Column ss:Width="120"/>

      <Row ss:Height="20">
        <Cell ss:StyleID="s60"><Data ss:Type="String">Company list</Data></Cell>
        <Cell ss:Index="3" ss:StyleID="s57"/>
        <Cell ss:StyleID="s59"/>
      </Row>
      <Row>
        <Cell ss:StyleID="s66"><Data ss:Type="String">rank</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">name</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">description</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">website</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">address1</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">address2</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">city</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">state</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">zip</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">country</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">revenue</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">num_of_emp</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">industry</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">naics_code</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">naisc_description</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">year_founded</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">fax</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">phone</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">email</Data></Cell>
      </Row>
      <% companies_hash.each do |orb_company| %>
        <Row>
          <Cell ss:StyleID="s69"><Data ss:Type="Number"><%= orb_company['rank'].encode(:xml => :text) unless orb_company['rank'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['name'].encode(:xml => :text) unless orb_company['name'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['description'].encode(:xml => :text) unless orb_company['description'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['website'].encode(:xml => :text) unless orb_company['website'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['address1'].encode(:xml => :text) unless orb_company['address1'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['address2'].encode(:xml => :text) unless orb_company['address2'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['city'].encode(:xml => :text) unless orb_company['city'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['state'].encode(:xml => :text) unless orb_company['state'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['zip'].encode(:xml => :text) unless orb_company['zip'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['country'].encode(:xml => :text) unless orb_company['country'].blank? %></Data></Cell>
          <Cell ss:StyleID="s69"><Data ss:Type="Number"><%= orb_company['revenue'].encode(:xml => :text) unless orb_company['revenue'].blank? %></Data></Cell>
          <Cell ss:StyleID="s69"><Data ss:Type="Number"><%= orb_company['num_of_emp'].encode(:xml => :text) unless orb_company['num_of_emp'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['industry'].encode(:xml => :text) unless orb_company['industry'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['naics_code'].encode(:xml => :text) unless orb_company['naics_code'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['naics_description'].encode(:xml => :text) unless orb_company['naics_description'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['year_founded'].encode(:xml => :text) unless orb_company['year_founded'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['fax'].encode(:xml => :text) unless orb_company['fax'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['phone'].encode(:xml => :text) unless orb_company['phone'].blank? %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= orb_company['email'].encode(:xml => :text) unless orb_company['email'].blank? %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
