%section.content-body{:role => "main"}
  %header.page-header
    %h2 Categories
    .right-wrapper.pull-right
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          .row
            .col-sm-6
              .mb-md
                = link_to new_workroom_list_path, class: "btn btn-primary" do
                  New list
                  %i.fa.fa-plus
          - if @lists.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th Name
                  %th List criteria
                  %th Company count
                  %th Loaging percentage
                  %th Loading started at
                  %th Loaded at
                  %th Actions
              %tbody
                %tbody
                  - @lists.each do |list|
                    %tr
                      %td{width: "10%"}
                        = list.title
                      %td{width: "40%"}
                        - unless list.query_params.blank?
                          - unless JSON.parse(list.query_params)['naics_codes'].empty?
                            NAIC Codes: #{JSON.parse(list.query_params)['naics_codes']}
                            %br
                          - unless JSON.parse(list.query_params)['country'].blank?
                            Country: #{JSON.parse(list.query_params)['country']}
                            %br
                          - unless JSON.parse(list.query_params)['city'].blank?
                            City: #{JSON.parse(list.query_params)['city']}
                            %br
                          - unless JSON.parse(list.query_params)['state'].blank?
                            State: #{JSON.parse(list.query_params)['state']}
                            %br
                          - unless JSON.parse(list.query_params)['zip'].blank?
                            Zip: #{JSON.parse(list.query_params)['zip']}
                            %br
                          - unless JSON.parse(list.query_params)['industry'].blank?
                            Industry: #{JSON.parse(list.query_params)['industry']}
                            %br
                          - unless JSON.parse(list.query_params)['name'].blank?
                            Company Name: #{JSON.parse(list.query_params)['name']}
                            %br
                          - unless JSON.parse(list.query_params)['revenue'].blank?
                            Revenue: #{JSON.parse(list.query_params)['revenue']}
                            %br
                          - unless JSON.parse(list.query_params)['employees'].blank?
                            Employees: #{JSON.parse(list.query_params)['employees']}
                            %br
                          - unless JSON.parse(list.query_params)['rankings'].blank?
                            Rankings: #{JSON.parse(list.query_params)['rankings']}
                            %br
                          - unless JSON.parse(list.query_params)['technologies'].blank?
                            Technologies: #{JSON.parse(list.query_params)['technologies']}
                            %br
                      %td{width: "10%"}
                        .box{:id => "result_#{list.id}"}
                          = list.result_count
                      %td{width: "10%"}
                        .box{:id => "progress_#{list.id}"}
                          = list.current_progress.to_s + '%'
                      %td{width: "10%"}
                        = list.created_at.to_s(:default)
                      %td{width: "10%"}
                        .box{:id => "date_#{list.id}"}
                          - unless list.result_count.blank?
                            = list.updated_at.to_s(:default)
                      %td{width: "10%"}
                        = link_to "CSV #{number_to_human_size(list.csv_file_size)}",   list.csv.url,  class: (list.result_count.blank? ? "mb-xs mt-xs mr-xs btn btn-warning disabled" : "mb-xs mt-xs mr-xs btn btn-warning"), :id => "download_csv_#{list.id}"
                        = link_to "Excel #{number_to_human_size(list.xls_file_size)}", list.xls.url,  class: (list.result_count.blank? ? "mb-xs mt-xs mr-xs btn btn-warning disabled" : "mb-xs mt-xs mr-xs btn btn-warning"), :id => "download_excel_#{list.id}"
            .pull-right
              = pagination_(@lists, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No Lists to display

= javascript_include_tag 'workroom_base'
= javascript_include_tag "workroom/lists/status.js"
