%section.content-body{:role => "main"}
  %header.page-header
    %h2 Categories
    %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
      %i.fa.fa-chevron-left
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      = simple_form_for @list, url: workroom_lists_path, method: "post", defaults: { required: false }, html: { class: "form-horizontal form-bordered" }, wrapper: :horizontal_form do |f|
        = render "workroom/lists/form", f: f
        