%section.content-body{:role => "main"}
  %header.page-header
    %h2 Technologies
    .right-wrapper.pull-right
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          .row
            .col-sm-6
              .mb-md
                = link_to refresh_workroom_technologies_path, class: "btn btn-primary", id: 'update_button', method: 'post' do
                  Update Technologies
                  %i.fa.fa-refresh
            #status Last update at #{@update_date}
          - if @technologies.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th Technology name
                  %th Category
              %tbody
                %tbody
                  - @technologies.each do |technology|
                    %tr
                      %td{width: "40%"}
                        = technology.name
                      %td{width: "60%"}
                        = technology.category
            .pull-right
              = pagination_(@technologies, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No Technologies to display

= javascript_include_tag 'workroom_base'
= javascript_include_tag "workroom/industries/status.js"
