%section.panel
  %header.panel-heading
    .panel-actions
    %h2.panel-title
      Edit global settings
  .panel-body
    = f.input :feedback_target_email, placeholder: 'Title', label: "Feedback target email", input_html: {value: f.object.feedback_target_email }

  %footer.panel-footer
    %button.btn.btn-primary Submit
    = link_to "Cancel", admin_settings_path, class: "btn btn-default"
