%section.content-body{:role => "main"}
  %header.page-header
    %h2 Edit global settings
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          = link_to admin_settings_path do
            %span Settings
        %li
          %span= "Edit global settings"
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  .row
    .col-md-12.col-lg-12.col-xl-12
      = simple_form_for @global_setting, url: admin_setting_path(@global_setting), method: "put", defaults: { required: false }, html: { class: "form-horizontal form-bordered" }, wrapper: :horizontal_form do |f|
        = render "admin/settings/form", f: f
