%section.content-body{:role => "main"}
  %header.page-header
    %h2 Settings
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          %span Settings
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          %table.table.table-bordered.table-striped.mb-none
            %thead
              %tr
                %th Setting
                %th Value
                %th Actions
            %tbody
              %tr
                %td{width: "35%"}
                  %strong
                    Feedback target email
                  \- the email adress to redirect feedback messages
                %td{width: "35%"}
                  = @global_setting.feedback_target_email
                %td.actions{width: "30%"}
                  = link_to "Edit", edit_admin_setting_path(@global_setting), class: "mb-xs mt-xs mr-xs btn btn-warning"

