%section.content-body{:role => "main"}
  %header.page-header
    %h2 Categories
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          %span Categories
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          .row
            .col-sm-6
              .mb-md
                = link_to new_admin_category_path, class: "btn btn-primary" do
                  Add
                  %i.fa.fa-plus

          - if @categories.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th Title
                  %th Actions
              %tbody
                %tbody
                  - @categories.each do |category|
                    %tr
                      %td{width: "70%"}
                        =link_to admin_subcategories_path(category_id: category.id) do
                          = category.title
                      %td.actions{width: "30%"}
                        = link_to "Edit", edit_admin_category_path(category), class: "mb-xs mt-xs mr-xs btn btn-warning"
                        = link_to "Delete", admin_category_path(category), method: "delete", data: {confirm: "Are you sure? All subcategories will be deleted too!"}, class: "mb-xs mt-xs mr-xs btn btn-danger"

            .pull-right
              = pagination_(@categories, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No Categories to display