%section.content-body{:role => "main"}
  %header.page-header
    %h2 Categories
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          = link_to admin_categories_path do
            %span Categories
        %li
          %span New Category
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  .row
    .col-md-12.col-lg-12.col-xl-12
      = simple_form_for @category, url: admin_categories_path, method: "post", defaults: { required: false }, html: { class: "form-horizontal form-bordered" }, wrapper: :horizontal_form do |f|
        = render "admin/categories/form", f: f, action: :new
