%section.panel
  %header.panel-heading
    .panel-actions
    %h2.panel-title Attach lists
  .panel-body
    = f.input :id, placeholder: 'Id', as: :hidden, label: "Id", label_html: {data: {"error-label" => "id"}}, input_html: {data: {"error-input" => "id"}}
    .form-group{class: "#{f.object.errors.include?(:txt_list) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "txt_list"}} Text List
      .col-md-10
        %div{:id => "txtUpload", :style => "margin-top: 7px;"}
    .form-group{class: "#{f.object.errors.include?(:xls_list) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "xls_list"}} XLS List
      .col-md-10
        %div{:id => "xlsUpload", :style => "margin-top: 7px;"}
    .form-group{class: "#{f.object.errors.include?(:csv_list) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "csv_list"}} CSV List
      .col-md-10
        %div{:id => "csvUpload", :style => "margin-top: 7px;"}
    .form-group{class: "#{f.object.errors.include?(:example_list) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "example_list"}} Example List
      .col-md-10
        %div{:id => "exampleUpload", :style => "margin-top: 7px;"}
  %footer.panel-footer
  %button.btn.btn-primary{:id => "save"} Attach files

  