
- if action == :new
  - upload_text = "Upload Cover"
  - panel_title = "New Product"
- elsif action == :edit
  - upload_text = "Change Cover"
  - panel_title = "Edit Product"
- elsif action == :new_version
  - upload_text = "Change Cover"
  - panel_title = "New Product Version"

%section.panel
  %header.panel-heading
    .panel-actions
    %h2.panel-title= panel_title
  .panel-body
    = f.input :title, placeholder: 'Title', label: "Title", label_html: {data: {"error-label" => "title"}}, input_html: {data: {"error-input" => "title"}}

    .form-group{class: "#{f.object.errors.include?(:cover) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "cover"}} Cover
      .col-md-3
        #image_holder.image_for_upload_wrapper.look_image_admin{onclick: "$('#upload_image').click();", data: {"error-input" => "cover"}}
          = image_tag f.object.cover.url(:medium), class: "for-upload"
        = f.file_field :cover, accept: 'image/jpg,image/png,image/jpeg', class: "hidden", id: "upload_image"
        %button.btn.btn-default{style: "width: 100%; margin-top: 10px", type: "button", onclick: "$('#upload_image').click();"}
          = upload_text
        - if f.object.errors.include?(:cover)
          %span.help-block= f.object.errors[:cover].first

    = f.input :articulus, label: "Articulus", input_html: {readonly: "readonly", data: {"error-input" => "articulus"}}, label_html: {data: {"error-label" => "articulus"}}
    = f.input :description, label: "Description", placeholder: 'Description', as: :text, label_html: {data: {"error-label" => "description"}}, input_html: {data: {"error-input" => "description"}}
    = f.input :detailed_description, label: "Detailed description", placeholder: 'Detailed description', as: :text, label_html: {data: {"error-label" => "detailed_description"}}, input_html: {data: {"error-input" => "detailed_description"}, style: 'height: 350px;'}
    = f.input :structure, label: "Structure", placeholder: 'Structure', as: :text, label_html: {data: {"error-label" => "structure"}}, input_html: {data: {"error-input" => "structure"}, style: 'height: 350px;'}
    = f.input :price, label: "Price $", as: :decimal, placeholder: "Price", label_html: {data: {"error-label" => "price"}}, input_html: {data: {"error-input" => "price"}}
    = f.input :discount, label: "Picture label", placeholder: "Picture label", label_html: {data: {"error-label" => "discount"}}, input_html: {data: {"error-input" => "discount"}}
    = f.input :label_bg_color, label: "Picture label color", placeholder: "Picture label color", label_html: {data: {"error-label" => "label_bg_color"}}, input_html: {data: {"error-input" => "label_bg_color"}, class: "colorpicker"}
    = f.input :price_discounted, label: "Price Discounted $", as: :decimal, placeholder: "Price Discounted", label_html: {data: {"error-label" => "price_discounted"}}, input_html: {data: {"error-input" => "price_discounted"}}
    = f.input :list_length, label: "List length", as: :decimal, placeholder: "List length", label_html: {data: {"error-label" => "list_length"}}, input_html: {data: {"error-input" => "list_length"}}
    = f.input :list_length_commentary, label: "List length commentary", as: :text,  placeholder: "List length commentary", label_html: {data: {"error-label" => "list_length_commentary"}}, input_html: {data: {"error-input" => "list_length_commentary"}}
    .form-group
      %label.col-md-2.control-label Categoreis
      .col-md-6
        %select#ms_example6.form-control{"data-plugin-multiselect" => "", "data-plugin-options" => "{ \"maxHeight\": 300, \"enableCaseInsensitiveFiltering\": true }", name: "product[subcategory_ids][]", :multiple => "multiple"}
          - Category.all.each do |category|
            %optgroup{label: category.title}
              - category.subcategories.each do |subcategory|
                %option{value: subcategory.id, selected: f.object.subcategories.include?(subcategory)}= subcategory.title
    .form-group
      %label.col-md-2.control-label Features
      .col-md-6
        %select#ms_example0.form-control{"data-plugin-multiselect" => "2", "data-plugin-options" => "{ \"maxHeight\": 200 }", name: "product[feature_ids][]", :multiple => "multiple"}
          - Feature.all.each do |feature|
            %option{value: feature.id, selected: f.object.features.include?(feature)}= feature.title

    .form-group{class: "#{f.object.errors.include?(:txt_list) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "txt_list"}} List in .txt
      .col-md-4
        .fileupload{"data-provides" => "fileupload", class: "#{(f.object.txt_list.exists? && action != :new_version) ? 'fileupload-exists' : 'fileupload-new'}"}
          .input-append
            .uneditable-input
              %i.fa.fa-file.fileupload-exists
              %span.fileupload-preview= f.object.txt_list_file_name unless action == :new_version
            %span.btn.btn-default.btn-file
              %span.fileupload-exists Change
              %span.fileupload-new Select file
              = f.file_field :txt_list, accept: ".txt", data: {"error-input" => "txt_list"}
        - if f.object.errors.include?(:txt_list)
          %span.help-block= f.object.errors[:txt_list].first
      - if action == :edit
        .col-md-4
          %div{style: "margin: 0 0 5px 20px !important;"}
            = link_to "Download", download_list_admin_product_path(id: f.object.id, format: "txt"), class: "btn btn-sm btn-primary"
            = "(#{number_to_human_size(f.object.txt_list_file_size)})"
    .form-group{class: "#{f.object.errors.include?(:xls_list) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "xls_list"}} List in .xls
      .col-md-4
        .fileupload{"data-provides" => "fileupload", class: "#{(f.object.xls_list.exists? && action != :new_version) ? 'fileupload-exists' : 'fileupload-new'}"}
          .input-append
            .uneditable-input
              %i.fa.fa-file.fileupload-exists
              %span.fileupload-preview= f.object.xls_list_file_name unless action == :new_version
            %span.btn.btn-default.btn-file
              %span.fileupload-exists Change
              %span.fileupload-new Select file
              = f.file_field :xls_list, accept: ".xls", data: {"error-input" => "xls_list"}
        - if f.object.errors.include?(:xls_list)
          %span.help-block= f.object.errors[:xls_list].first
      - if action == :edit
        .col-md-4
          %div{style: "margin: 0 0 5px 20px !important;"}
            = link_to "Download", download_list_admin_product_path(id: f.object.id, format: "xls"), class: "btn btn-sm btn-primary"
            = "(#{number_to_human_size(f.object.xls_list_file_size)})"
    .form-group{class: "#{f.object.errors.include?(:csv_list) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "csv_list"}} List in .csv
      .col-md-4
        .fileupload{"data-provides" => "fileupload", class: "#{(f.object.csv_list.exists? && action != :new_version) ? 'fileupload-exists' : 'fileupload-new'}"}
          .input-append
            .uneditable-input
              %i.fa.fa-file.fileupload-exists
              %span.fileupload-preview= f.object.csv_list_file_name unless action == :new_version
            %span.btn.btn-default.btn-file
              %span.fileupload-exists Change
              %span.fileupload-new Select file
              %input{:type => "file"}
              = f.file_field :csv_list, accept: ".csv", data: {"error-input" => "csv_list"}
        - if f.object.errors.include?(:csv_list)
          %span.help-block= f.object.errors[:csv_list].first
      - if action == :edit
        .col-md-4
          %div{style: "margin: 0 0 5px 20px !important;"}
            = link_to "Download", download_list_admin_product_path(id: f.object.id, format: "csv"), class: "btn btn-sm btn-primary"
            = "(#{number_to_human_size(f.object.csv_list_file_size)})"
    .form-group{class: "#{f.object.errors.include?(:example_list) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "example_list"}} Example list
      .col-md-4
        .fileupload{"data-provides" => "fileupload", class: "#{(f.object.example_list.exists? && action != :new_version) ? 'fileupload-exists' : 'fileupload-new'}"}
          .input-append
            .uneditable-input
              %i.fa.fa-file.fileupload-exists
              %span.fileupload-preview= f.object.example_list_file_name unless action == :new_version
            %span.btn.btn-default.btn-file
              %span.fileupload-exists Change
              %span.fileupload-new Select file
              %input{:type => "file"}
              = f.file_field :example_list, accept: ".csv,.txt,.xls", data: {"error-input" => "example_list"}
        - if f.object.errors.include?(:example_list)
          %span.help-block= f.object.errors[:example_list].first
      - if action == :edit
        .col-md-4
          %div{style: "margin: 0 0 5px 20px !important;"}
            = link_to "Download", download_example_front_product_path(f.object.articulus), class: "btn btn-sm btn-primary"
            = "(#{number_to_human_size(f.object.example_list_file_size)})"
    .form-group{class: "#{f.object.errors.include?(:last_updated_at_pub) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "last_updated_at_pub"}} Public upload date
      .col-md-6
        .input-group
          %span.input-group-addon
            %i.fa.fa-calendar
          = f.text_field :last_updated_at_pub, value: f.object.last_updated_at_pub&.strftime("%Y-%m-%d"), class: "form-control", data: {"plugin-datepicker" => "", "error-input" => "example_list", "date-format" => "yyyy-mm-dd"}
        - if f.object.errors.include?(:last_updated_at_pub)
          %span.help-block= f.object.errors[:last_updated_at_pub].first
    .form-group{class: "#{f.object.errors.include?(:last_updated_at_internal) ? 'has-error' : ''}"}
      %label.col-md-2.control-label{data: {"error-label" => "last_updated_at_internal",}} Internal upload date
      .col-md-6
        .input-group
          %span.input-group-addon
            %i.fa.fa-calendar
          = f.text_field :last_updated_at_internal, value: f.object.last_updated_at_internal&.strftime("%Y-%m-%d"), class: "form-control", data: {"plugin-datepicker" => "", "error-input" => "last_updated_at_internal", "date-format" => "yyyy-mm-dd"}
        - if f.object.errors.include?(:last_updated_at_internal)
          %span.help-block= f.object.errors[:last_updated_at_internal].first
    = f.input :meta_title, label: "Meta Title", input_html: {data: {"error-input" => "meta_title"}}, label_html: {data: {"error-label" => "meta_title"}}
    = f.input :meta_desc, label: "Meta Description", input_html: {data: {"error-input" => "meta_desc"}}, label_html: {data: {"error-label" => "meta_desc"}}
    = f.input :meta_keywords, label: "Meta Keywords", input_html: {data: {"error-input" => "meta_keywords"}}, label_html: {data: {"error-label" => "meta_keywords"}}
  %footer.panel-footer
    %button.btn.btn-primary Submit
    = link_to "Cancel", admin_products_path, class: "btn btn-default"