%section.content-body{:role => "main"}
  %header.page-header
    %h2 Products
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          = link_to admin_products_path do
            %span Products
        %li
          %span= "Edit #{@product.title}"
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  .row
    .col-md-12.col-lg-12.col-xl-12
      = simple_form_for @product, url: admin_product_path(@product), method: "put", defaults: { required: false }, html: { class: "form-horizontal form-bordered ", name: "admin_form" }, wrapper: :horizontal_form do |f|
        = render "admin/products/form", f: f, action: :edit
      = simple_form_for @product, url: admin_product_path(@product), method: "put", defaults: { required: false }, html: { class: "form-horizontal form-bordered ", name: "admin_form" }, wrapper: :horizontal_form do |f|
        = render "attach_form", f: f