%section.content-body{:role => "main"}
  %header.page-header
    %h2 Products
    .right-wrapper.pull-right
      %ol.breadcrumbs
        %li
          = link_to admin_root_path do
            %i.fa.fa-home
        %li
          %span Products
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          .row
            .col-sm-6
              .mb-md
                = link_to new_admin_product_path, class: "btn btn-primary" do
                  Add
                  %i.fa.fa-plus

          - if @products.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th Cover
                  %th Title
                  %th Base Articulus
                  %th Version Articulus
                  %th Updated
                  %th Price
                  %th Actions
              %tbody
                - @products.each do |product|
                  %tr
                    %td{width: "1%"}= image_tag product.cover.url(:medium), width: "150px"
                    %td{width: "25%"}
                      - if product.is_hidden
                        %span.text-danger Hidden
                      - if product.is_latest_version
                        %span.text-success Latest Version
                      %span
                        = product.title
                    %td{width: "10%"}= product.get_base_articulus
                    %td{width: "10%"}= product.articulus
                    %td{width: "15%"}
                      Public: #{product.last_updated_at_pub}
                      Internal: #{product.last_updated_at_internal}
                    %td{width: "10%"}
                      Price: #{product.price}
                      Discounted: #{product.discount}
                    %td.actions{width: "49%"}
                      - if product.is_base_product?
                        = link_to "New Version", new_version_admin_product_path(product), method: :post, class: "mb-xs mt-xs mr-xs btn btn-success"
                      = link_to "Edit", edit_admin_product_path(product), class: "mb-xs mt-xs mr-xs btn btn-warning"
                      - if product.is_hidden
                        = link_to "Unhide", unhide_admin_product_path(product), method: :post, class: "mb-xs mt-xs mr-xs btn btn-info"
                      - else
                        = link_to "Hide", hide_admin_product_path(product), method: :post,class: "mb-xs mt-xs mr-xs btn btn-warning"
                      = link_to "Delete", admin_product_path(product), method: "delete", data: {confirm: "Are you sure? All versions of this product will be destroyed too"}, class: "mb-xs mt-xs mr-xs btn btn-danger"

            .pull-right
              = pagination_(@products, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No Products to display