%section.content-body{:role => "main"}
  %header.page-header
    %h2 Technology Categories
    .right-wrapper.pull-right
      %a.sidebar-right-toggle{"data-open" => "sidebar-right"}
        %i.fa.fa-chevron-left
  / start: page
  = render "admin/shared/default_bootstrap_errors", locals: {flash: flash}
  .row
    .col-md-12.col-lg-12.col-xl-12
      %section.panel
        .panel-body
          .row
            .col-sm-6
              .mb-md
                = link_to refresh_workroom_technology_categories_path, class: "btn btn-primary", id: 'update_button', method: 'post' do
                  Update Technology Categories
                  %i.fa.fa-refresh
            #status Last update at #{@update_date}
          - if @technology_categories.count > 0
            %table.table.table-bordered.table-striped.mb-none
              %thead
                %tr
                  %th Category name
                  %th Technologies
              %tbody
                %tbody
                  - @technology_categories.each do |category|
                    %tr
                      %td{width: "30%"}
                        = category.name
                      %td{width: "70%"}
                        = category.technologies.join(", ")
            .pull-right
              = pagination_(@technology_categories, previous_label: "«", next_label: "»")
          - else
            .empty_list_notice
              No Technology Categories to display

= javascript_include_tag 'workroom_base'
= javascript_include_tag "workroom/industries/status.js"
