.main{:role => "main"}
  .container
    .row
      .col-md-12
        .featured-boxes
          .row
            .col-sm-12.col-md-offset-3.col-sm-6
              .featured-box.featured-box-primary.align-left.mt-xlg
                .box-content
                  %h4.heading-primary.text-uppercase.mb-md Sign In
                  =simple_form_for User.new, url: front_sessions_path, method: "post", defaults: { required: false } do |f|
                    .row
                      .form-group
                        .col-md-12
                          %label E-mail
                          = f.input :email, label: false, input_html: {class: "input-lg"}
                    .row
                      .form-group
                        .col-md-12
                          = link_to "(Lost Password?)", new_password_reset_path, class: "pull-right"
                          %label Password
                          = f.input :password, label: false, input_html: {class: "input-lg"}
                    .row
                      .col-md-6
                        = f.input :remember, as: :boolean, label: false, inline_label: 'Remember me', label_html: {style: "padding-left: 30px"}
                      .col-md-6
                        %input.btn.btn-primary.pull-right.mb-xl{"data-loading-text" => "Loading...", :type => "submit", :value => "Sign in"}/
                    .row
                      .col-md-12.center
                        %hr
                        %ul.header-social-icons.social-icons
                          %li.social-icons-facebook
                            = link_to front_auth_at_provider_path(:provider => :facebook), :title => "Facebook" do
                              %i.fa.fa-facebook
                          %li.social-icons-linkedin
                            = link_to front_auth_at_provider_path(:provider => :linkedin), :title => "Linkedin" do
                              %i.fa.fa-linkedin
                      .row
                        .col-md-12.center
                          %p.sign-up-info
                            Don't have an account yet?
                            = link_to "Sign Up", front_sign_up_path, class: "btn btn-danger btn-borders btn-xs"
     

