/*
 *= require_self
 *= require for_admin/bootstrap/css/bootstrap
 *= require for_admin/font-awesome/css/font-awesome
 *= require for_admin/magnific-popup/magnific-popup
 *= require for_admin/bootstrap-datepicker/css/bootstrap-datepicker3
 *= require for_admin/jquery-ui/jquery-ui
 *= require for_admin/jquery-ui/jquery-ui.theme
 *= require for_admin/select2/css/select2.css
 *= require for_admin/select2-bootstrap-theme/select2-bootstrap.min.css
 *= require for_admin/bootstrap-multiselect/bootstrap-multiselect
 *= require for_admin/morris.js/morris
 *= require for_admin/bootstrap-fileupload/bootstrap-fileupload.min.css

 *= require admin_theme/theme
 *= require admin_theme/skins/default
 *= require admin_theme/theme-custom

 *= require bootstrap-colorpicker
 *= require bootstrap-table

 *= require uploadfile

 *= require fonts
 */

 @import "admin/ui";

.empty_list_notice{
   text-align: center;
  padding: 15px;
}

a.btn{
  &.btn-primary, &.btn-success, &.btn-info, &.btn-warning, &.btn-danger{
    color: white !important;
  }
}