@font-face {
  font-family: 'fontawesome';
  src: font-url("fontawesome/fontawesome-webfont.eot?g3f6ho");
  src: font-url("fontawesome/fontawesome-webfont.eot?g3f6ho#iefix") format("embedded-opentype"), font-url("fontawesome/fontawesome-webfont.ttf?g3f6ho") format("truetype"), font-url("fontawesome/fontawesome-webfont.woff?g3f6ho") format("woff"), font-url("fontawesome/fontawesome-webfont.svg?g3f6ho#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url("glyphs/glyphicons-halflings-regular.eot?g3f6ho");
  src: font-url("glyphs/glyphicons-halflings-regular.eot?g3f6ho#iefix") format("embedded-opentype"), font-url("glyphs/glyphicons-halflings-regular.ttf?g3f6ho") format("truetype"), font-url("glyphs/glyphicons-halflings-regular.woff?g3f6ho") format("woff"), font-url("glyphs/glyphicons-halflings-regular.svg?g3f6ho#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}


/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}