/*
 *= require for_front/bootstrap/css/bootstrap.css
 *= require for_front/font-awesome/css/font-awesome.css
 *= require for_front/animate/animate.css
 *= require for_front/simple-line-icons/css/simple-line-icons.css
 *= require for_front/owl.carousel/assets/owl.carousel.css
 *= require for_front/owl.carousel/assets/owl.theme.default.css
 *= require for_front/magnific-popup/magnific-popup.css
 *= require front_theme/theme.css
 *= require front_theme/theme-elements.css
 *= require front_theme/theme-blog.css
 *= require front_theme/theme-shop.css
 *= require for_front/rs-plugin/css/settings.css
 *= require for_front/rs-plugin/css/layers.css
 *= require for_front/rs-plugin/css/navigation.css
 *= require for_front/circle-flip-slideshow/css/component.css
 *= require front_theme/skins/default.css


 *= require front_theme/custom.css

 *= require fonts
 *= require_self
 */

@import "front/ui";

body{
 font-family: "San Francisco"
}

.bold{
  font-weight: bold;
}

.notifyjs-corner{
  left: 50% !important;
  white-space: nowrap;
  @include transform_mixin(-50%, 0%);
}

.no_margin{
  margin: 0 0 0 0;
}

a.cart-btn{
  color: white !important;
  &:hover{
    color: $base-red !important;
  }
  padding: 0;
}

.slider-container .main-label{
  text-shadow: none;
}

#mainNav{
 .dropdown.dropdown-mega.dropdown-mega-signin.signin{
   ul.dropdown-menu.logged-in{
     width: auto;
   }
 }
}

.stripe-button-el { display: none !important }

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
