/ start: sidebar
%aside#sidebar-left.sidebar-left
  .sidebar-header
    .sidebar-title
      Navigation
    .sidebar-toggle.hidden-xs{"data-fire-event" => "sidebar-left-toggle", "data-target" => "html", "data-toggle-class" => "sidebar-left-collapsed"}
      %i.fa.fa-bars{"aria-label" => "Toggle sidebar"}
  .nano
    .nano-content
      %nav#menu.nav-main{:role => "navigation"}
        %ul.nav.nav-main
          / %li.nav-parent.nav-active
          /   %a
          /     %i.fa.fa-copy{"aria-hidden" => "true"}
          /     %span Products
          /   %ul.nav.nav-children
          /     %li.nav-active
          /       %a{:href => "pages-signup.html"}
          /         List
          /     %li
          /       %a{:href => "pages-signin.html"}
          /         Add
          = active_link_to admin_products_path, class_active: "nav-active", wrap_tag: :li, active: ['admin/products'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Products
          = active_link_to admin_clients_path, class_active: "nav-active", wrap_tag: :li, active: ['admin/clients'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Clients
          = active_link_to admin_orders_path, class_active: "nav-active", wrap_tag: :li, active: ['admin/categories', 'admin/subcategories'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Orders
          = active_link_to admin_categories_path, class_active: "nav-active", wrap_tag: :li, active: ['admin/categories', 'admin/subcategories'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Categories
          = active_link_to admin_features_path, class_active: "nav-active", wrap_tag: :li, active: ['admin/features'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Features
          = active_link_to admin_contact_messages_path, class_active: "nav-active", wrap_tag: :li, active: ['admin/feedback'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Feedback
          = active_link_to admin_settings_path, class_active: "nav-active", wrap_tag: :li, active: ['admin/settings'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Settings
          = active_link_to admin_pages_path, class_active: "nav-active", wrap_tag: :li, active: ['admin/pages'] do
            %i.fa.fa-copy{"aria-hidden" => "true"}
            %span Pages
          %li
            %a
              %i.fa.fa-copy{"aria-hidden" => "true"}
              %span{style: "color: gray"} Administrators

    :javascript
      // Maintain Scroll Position
      if (typeof localStorage !== 'undefined') {
        if (localStorage.getItem('sidebar-left-position') !== null) {
          var initialPosition = localStorage.getItem('sidebar-left-position'),
            sidebarLeft = document.querySelector('#sidebar-left .nano-content');
          
          sidebarLeft.scrollTop = initialPosition;
        }
      }
/ end: sidebar