%aside#sidebar-right.sidebar-right
  .nano
    .nano-content
      %a.mobile-close.visible-xs{:href => "#"}
        Collapse
        %i.fa.fa-chevron-right
      .sidebar-right-wrapper
        .sidebar-widget.widget-calendar
          %h6 Calendar
          %div{"data-plugin-datepicker" => "", "data-plugin-skin" => "dark"}
