/ start: header
%header.header
  .logo-container
    %a.logo{:href => "../"}
      %img{:alt => "Porto Admin", :height => "35", :src => "/Listoteca_logo.png"}/
    .visible-xs.toggle-sidebar-left{"data-fire-event" => "sidebar-left-opened", "data-target" => "html", "data-toggle-class" => "sidebar-left-opened"}
      %i.fa.fa-bars{"aria-label" => "Toggle sidebar"}
  / start: search & user box
  .header-right
    %span.separator
    #userbox.userbox
      %a{"data-toggle" => "dropdown", :href => "#"}
        %figure.profile-picture
          %img.img-circle{:alt => "Joseph Doe", "data-lock-picture" => "/images/admin_theme_img/!logged-user.jpg", :src => "/images/admin_theme_img/!logged-user.jpg"}/
        .profile-info{"data-lock-email" => "johndoe@okler.com", "data-lock-name" => "John Doe"}
          %span.name= current_user.full_name
          %span.role administrator
        %i.fa.custom-caret
      .dropdown-menu
        %ul.list-unstyled
          %li.divider
          %li
            = link_to admin_sessions_path, method: "delete", :role => "menuitem" do
              %i.fa.fa-power-off
              Logout
  / end: search & user box
/ end: header