- @categories.each do |c|
  %aside#woocommerce_product_categories-2.widget.woocommerce.widget_product_categories
    %h3.widget-title
      = c.title
    %ul.product-categories
      - c.subcategories.select { |s| s.products.unhidden.present? }.each do |s|
        = active_link_to subcategory_front_products_path(subcategory: s.id, subcategories: @subcategories, view: @view), active: @subcategories.include?(s.id), wrap_tag: 'li' do
          = s.title
          %span.count
            = "(#{s.products.unhidden.count})"

/
  %aside#woocommerce_price_filter-3.widget.woocommerce.widget_price_filter
    %h3.widget-title Price
    %form{:action => "http://www.newsmartwave.net/wordpress/porto/product-category/women/", :method => "get"}
      .price_slider_wrapper
        .price_slider{:style => "display:none;"}
        .price_slider_amount
          %input#min_price{"data-min" => "18", :name => "min_price", :placeholder => "Min price", :type => "text", :value => ""}/
          %input#max_price{"data-max" => "35", :name => "max_price", :placeholder => "Max price", :type => "text", :value => ""}/
          %button.button{:type => "submit"} Filter
          .price_label{:style => "display:none;"}
            Price:
            %span.from
            \—
            %span.to
          .clear
