.row
  .col-xs-12
    .gridlist-toggle
      = active_link_to front_products_url(subcategories: @subcategories, view: 'table'), active: (@view == 'table') do
        %i.fa.fa-th
      = active_link_to front_products_url(subcategories: @subcategories, view: 'list'), active: (@view == 'list') do
        %i.fa.fa-list
