- @products.each do |product|
  %div
    = product.id
    = image_tag product.public_cover(:medium), width: "150px"
    = product.title
    = product.last_updated_at_pub
    = product.description
    = product.detailed_description
    = product.list_length
    = product.list_length_commentary
    = product.show_public_price
    - if product.example_list.exists?
      = link_to "Download Example", download_example_front_product_path(product.articulus)