.main.shop{:role => "main"}
  .container
    .row{style: "margin-top: 35px;"}
      .col-md-12
        %p.lead
          We appreciate quality of the supplied materials, therefore you never find universal companies lists of unconditioned industry and for any case on Listoteca. Each of our products is developed individually in accordance with the wishes of our customers and based on specially collected, updated and verified data.
    .row{style: "margin-top: 15px;"}
      .col-md-3.col-lg-3.col-xl-3
        = render 'filter'
      .col-md-9.col-lg-9.col-xl-9
        = render 'header'
        #products-list
          - @products.each do |product|
            .row{style: 'margin-top: 15px;'}
              .col-md-3
                .product--img-wrapper
                  = link_to front_product_path(product.articulus) do
                    .product--labels
                      - if product.discount.present?
                        %span.sale{style: "background-color: #{product.label_bg_color};"}= product.show_public_discount
                    = image_tag product.public_cover(:medium), class: "img-responsive img-thumbnail"
                  .flex-container-column{style: 'margin-top: 15px;'}
                    .product--price-info
                      - if product.price_discounted.blank?
                        %span.price
                          %span.amount= product.show_public_price
                      - else
                        %span.price
                          %span.amount.product-discount= product.show_public_price
                          %span.amount= product.show_discounted_price
                      - if @user_cart.products.include?(product)
                        = link_to remove_from_cart_front_product_path(product.articulus), method: "delete", class: "btn btn-default btn-xs" do
                          Remove from Cart
                      - else
                        = link_to add_to_cart_front_product_path(product.articulus), method: "post", class: "btn btn-primary btn-xs" do
                          %span
                            %i.fa.fa-shopping-cart
                            Add to Cart
              .col-md-9
                .flex-container-left
                  .product-text.flex-stable-size
                    = link_to front_product_path(product.articulus) do
                      %h3.product--title= product.title
                      %span.records-count Records: #{product.list_length}
                      &nbsp;
                      = link_to front_product_path(product.articulus), class: 'btn  btn-xs btn-default', style: 'border-color: red' do
                        View product details
                    %span.flex-stable-size.description= simple_format(product.description)


    .row
      .col-md-12
        .pull-right
          = pagination_(@products, previous_label: "«", next_label: "»")
