.main.shop{:role => "main"}
  .container
    .row{style: "margin-top: 35px;"}
      .col-md-4
        .owl-carousel.owl-theme{"data-plugin-options" => "{'items': 1}"}
          %div
            .thumbnail.product--img-wrapper
              .product--labels
                - if @product.discount.present?
                  %span.sale{style: "background-color: #{@product.label_bg_color};"}= @product.show_public_discount
              = image_tag @product.public_cover(:medium), class: "img-responsive img-rounded"
      .col-md-5
        .summary.entry-summary
          %h1.mb-none
            %strong= @product.title
          %p.price
            - if @product.price_discounted.blank?
              %span.amount= @product.show_public_price
            - else
              %span.amount.product-discount= @product.show_public_price
              %span.amount= @product.show_discounted_price
            - unless @user_cart.products.include?(@product)
              = link_to "Add to Cart", add_to_cart_front_product_path(@product.articulus), method: "post", class: "btn btn-md btn-primary", style: "margin: 0 0 5px 20px !important "
            - if @product.example_list.exists?
              = link_to "Download free sample", download_example_front_product_path(@product.articulus), class: "btn btn-md mt-md", style: "margin: 0 0 5px 20px !important; border: 1px solid red;"
          %p= simple_format(@product.description)
          %p= "ItemID: #{@product.articulus}"
          .tabs.tabs-product{style: "margin-top: 20px;"}
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#productDescription"} Description
              - if !@product.structure.blank?
                %li
                  %a{"data-toggle" => "tab", :href => "#productStructure"} Structure
            .tab-content
              #productDescription.tab-pane.active
                %p= simple_format(@product.detailed_description)
              - if !@product.structure.blank?
                #productStructure.tab-pane
                  %p= simple_format(@product.structure)
          - if @product.subcategories.any?
            .product_meta
              %span.posted_in
                Categories:
                - @product.subcategories.each do |subcategory|
                  = link_to subcategory.title, front_products_path(category_ids: subcategory.id), rel: "tag"
          .clearfix
          - if @user_cart.products.include?(@product)
            = link_to "Remove from Cart", remove_from_cart_front_product_path(@product.articulus), method: "delete", class: "btn btn-md btn-default mt-md"
            = link_to front_cart_path, style: "display: inline;" do
              %button.btn.pull-right.btn-primary.mt-md{:type => "submit"}
                Proceed to Checkout
                %i.fa.fa-angle-right.ml-xs
          - else
            = link_to "Add to Cart", add_to_cart_front_product_path(@product.articulus), method: "post", class: "btn btn-md btn-primary mt-md"
      - if @product.features.any?
        .col-md-3
          .vc_column_container.vc_col-sm-12{style: "margin-top: 8px;"}
            .wpb_wrapper.vc_column-inner
              - @product.features.each do |feature|
                .aio-icon-component.style_1
                  .aio-icon-box.left-icon{:style => "margin-bottom: 20px;"}
                    .row
                      .col-md-3.col-sm-12
                        .aio-icon-left
                          .ult-just-icon-wrapper
                            .align-icon{:style => "text-align:center;"}
                              - if feature.fa_icon_id.present?
                                .aio-icon.advanced{:style => "color:#000000;background:#ffffff;border-style:solid;border-color:#cccccc;border-width:2px;width:45px;height:45px;line-height:43px;border-radius:500px;font-size:25px;display:inline-block;"}
                                  %i{class: "fa fa-#{feature.fa_icon_id}", "aria-hidden" => "true", style: "margin-left: 2px;"}
                              - else
                                .aio-icon.advanced{:style => "color:#000000;background:#ffffff;border-style:solid;border-color:#cccccc;border-width:2px;width:45px;height:45px;line-height:45px;border-radius:500px;font-size:25px;display:inline-block;"}
                                  = image_tag feature.cover.url(:medium), class: "img-responsive", width: "30px", style: "display: inline;margin-top: -10px;"
                                  %i.Defaults-truck
                      .col-md-9.hidden-sm.hidden-xs{style: "padding-left: 0px;"}
                        .aio-ibd-block
                          .aio-icon-header
                            %h3.aio-icon-title.ult-responsive{style: "font-weight:bold;color:#313131;    margin-bottom: 13px;font-size: 15px;"}= feature.title
                          .aio-icon-description.ult-responsive{style: ""}= feature.description
                      .col-sm-12.hidden-md.hidden-lg.center
                        .aio-ibd-block
                          .aio-icon-header
                            %h3.aio-icon-title.ult-responsive{style: "font-weight:bold;color:#313131;    margin-bottom: 13px;font-size: 15px;"}= feature.title
                          .aio-icon-description.ult-responsive{style: ""}= feature.description
