.main.shop{:role => "main"}
  .container
    .row{style: "margin-top: 35px;"}
      .col-md-6
        .owl-carousel.owl-theme{"data-plugin-options" => "{'items': 1}"}
          %div
            .thumbnail
              = image_tag @product.public_cover, class: "img-responsive img-rounded"
      .col-md-6
        .summary.entry-summary
          %h1.mb-none
            %strong Blue Ladies Handbag
          .review_num
            %span.count{:itemprop => "ratingCount"} 2
            reviews
          .star-rating{:title => "Rated 5.00 out of 5"}
            %span{:style => "width:100%"}
              %strong.rating 5.00
              out of 5
          %p.price
            %span.amount $22
          %p.taller Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus.
          %form.cart{:enctype => "multipart/form-data", :method => "post"}
            .quantity
              %input.minus{:type => "button", :value => "-"}/
              %input.input-text.qty.text{:min => "1", :name => "quantity", :step => "1", :title => "Qty", :type => "text", :value => "1"}/
              %input.plus{:type => "button", :value => "+"}/
            %button.btn.btn-primary.btn-icon{:href => "#"} Add to cart
          .product_meta
            %span.posted_in
              Categories:
              = succeed "," do
                %a{:href => "#", :rel => "tag"} Accessories
              = succeed "." do
                %a{:href => "#", :rel => "tag"} Bags
    .row
      .col-md-12
        .tabs.tabs-product
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#productDescription"} Description
            %li
              %a{"data-toggle" => "tab", :href => "#productInfo"} Aditional Information
            %li
              %a{"data-toggle" => "tab", :href => "#productReviews"} Reviews (2)
          .tab-content
            #productDescription.tab-pane.active
              %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, massa fringilla consequat blandit, mauris ligula porta nisi, non tristique enim sapien vel nisl. Suspendisse vestibulum lobortis dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent nec tempus nibh. Donec mollis commodo metus et fringilla. Etiam venenatis, diam id adipiscing convallis, nisi eros lobortis tellus, feugiat adipiscing ante ante sit amet dolor. Vestibulum vehicula scelerisque facilisis. Sed faucibus placerat bibendum. Maecenas sollicitudin commodo justo, quis hendrerit leo consequat ac. Proin sit amet risus sapien, eget interdum dui. Proin justo sapien, varius sit amet hendrerit id, egestas quis mauris.
            #productInfo.tab-pane
              %table.table.table-striped.mt-xl
                %tbody
                  %tr
                    %th
                      Size:
                    %td
                      Unique
                  %tr
                    %th
                      Colors
                    %td
                      Red, Blue
                  %tr
                    %th
                      Material
                    %td
                      100% Leather
            #productReviews.tab-pane
              %ul.comments
                %li
                  .comment
                    .img-thumbnail
                      %img.avatar{:alt => "", :src => "img/avatars/avatar-2.jpg"}/
                    .comment-block
                      .comment-arrow
                      %span.comment-by
                        %strong John Doe
                        %span.pull-right
                          .star-rating{:title => "Rated 5.00 out of 5"}
                            %span{:style => "width:100%"}
                              %strong.rating 5.00
                              out of 5
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.
              %hr.tall/
              %h4.heading-primary Add a review
              .row
                .col-md-12
                  %form#submitReview{:action => "", :method => "post"}
                    .row
                      .form-group
                        .col-md-6
                          %label Your name *
                          %input#name.form-control{"data-msg-required" => "Please enter your name.", :maxlength => "100", :name => "name", :type => "text", :value => ""}/
                        .col-md-6
                          %label Your email address *
                          %input#email.form-control{"data-msg-email" => "Please enter a valid email address.", "data-msg-required" => "Please enter your email address.", :maxlength => "100", :name => "email", :type => "email", :value => ""}/
                    .row
                      .form-group
                        .col-md-12
                          %label Review *
                          %textarea#message.form-control{"data-msg-required" => "Please enter your message.", :maxlength => "5000", :name => "message", :rows => "10"}
                    .row
                      .col-md-12
                        %input.btn.btn-primary{"data-loading-text" => "Loading...", :type => "submit", :value => "Submit Review"}/
    .row
      .col-md-12
        %hr.tall/
        %h4.mb-md.text-uppercase
          Related
          %strong Products
        .row
          %ul.products.product-thumb-info-list
            %li.col-sm-3.col-xs-12.product
              %a{:href => "shop-product-sidebar.html"}
                %span.onsale Sale!
              %span.product-thumb-info
                %a.add-to-cart-product{:href => "shop-cart.html"}
                  %span
                    %i.fa.fa-shopping-cart
                    Add to Cart
                %a{:href => "shop-product-sidebar.html"}
                  %span.product-thumb-info-image
                    %span.product-thumb-info-act
                      %span.product-thumb-info-act-left
                        %em View
                      %span.product-thumb-info-act-right
                        %em
                          %i.fa.fa-plus
                          Details
                    %img.img-responsive{:alt => "", :src => "img/products/product-1.jpg"}/
                %span.product-thumb-info-content
                  %a{:href => "shop-product-sidebar.html"}
                    %h4 Photo Camera
                    %span.price
                      %del
                        %span.amount $325
                      %ins
                        %span.amount $299
            %li.col-sm-3.col-xs-12.product
              %span.product-thumb-info
                %a.add-to-cart-product{:href => "shop-cart.html"}
                  %span
                    %i.fa.fa-shopping-cart
                    Add to Cart
                %a{:href => "shop-product-sidebar.html"}
                  %span.product-thumb-info-image
                    %span.product-thumb-info-act
                      %span.product-thumb-info-act-left
                        %em View
                      %span.product-thumb-info-act-right
                        %em
                          %i.fa.fa-plus
                          Details
                    %img.img-responsive{:alt => "", :src => "img/products/product-2.jpg"}/
                %span.product-thumb-info-content
                  %a{:href => "shop-product-sidebar.html"}
                    %h4 Golf Bag
                    %span.price
                      %span.amount $72
            %li.col-sm-3.col-xs-12.product
              %span.product-thumb-info
                %a.add-to-cart-product{:href => "shop-cart.html"}
                  %span
                    %i.fa.fa-shopping-cart
                    Add to Cart
                %a{:href => "shop-product-sidebar.html"}
                  %span.product-thumb-info-image
                    %span.product-thumb-info-act
                      %span.product-thumb-info-act-left
                        %em View
                      %span.product-thumb-info-act-right
                        %em
                          %i.fa.fa-plus
                          Details
                    %img.img-responsive{:alt => "", :src => "img/products/product-3.jpg"}/
                %span.product-thumb-info-content
                  %a{:href => "shop-product-sidebar.html"}
                    %h4 Workout
                    %span.price
                      %span.amount $60
            %li.col-sm-3.col-xs-12.product
              %span.product-thumb-info
                %a.add-to-cart-product{:href => "shop-cart.html"}
                  %span
                    %i.fa.fa-shopping-cart
                    Add to Cart
                %a{:href => "shop-product-sidebar.html"}
                  %span.product-thumb-info-image
                    %span.product-thumb-info-act
                      %span.product-thumb-info-act-left
                        %em View
                      %span.product-thumb-info-act-right
                        %em
                          %i.fa.fa-plus
                          Details
                    %img.img-responsive{:alt => "", :src => "img/products/product-4.jpg"}/
                %span.product-thumb-info-content
                  %a{:href => "shop-product-sidebar.html"}
                    %h4 Luxury bag
                    %span.price
                      %span.amount $199