.main.shop{:role => "main"}
  .container
    .row{style: "margin-top: 35px;"}
      .col-md-12
        %p.lead
          We appreciate quality of the supplied materials, therefore you never find universal companies lists of unconditioned industry and for any case on Listoteca. Each of our products is developed individually in accordance with the wishes of our customers and based on specially collected, updated and verified data.
    .row{style: "margin-top: 13px;"}
      .col-md-3.col-lg-3.col-xl-3
        = render 'filter'
      .col-md-9.col-lg-9.col-xl-9
        = render 'header'
        #products-table
          - @products.each_slice(4).each do |product_row|
            .row.text-center
              - product_row.each do |product|
                .col-md-3.col-lg-3.col-xl-3
                  .product--wrapper
                    .product--img-wrapper
                      = link_to front_product_path(product.articulus) do
                        .product--labels
                          - if product.discount.present?
                            %span.sale{style: "background-color: #{product.label_bg_color};"}= product.show_public_discount
                        = image_tag product.public_cover(:medium), class: "img-responsive"
                    .text-center
                      .flex-container
                        = link_to front_product_path(product.articulus) do
                          %h5.product--title.flex-container= product.title
                      .product--devider
                        .left--side
                        .right--side
                      .product--price-info
                        - if product.price_discounted.blank?
                          %span.price
                            %span.amount= product.show_public_price
                        - else
                          %span.price
                            %span.amount.product-discount= product.show_public_price
                            %span.amount= product.show_discounted_price
                      - if @user_cart.products.include?(product)
                        = link_to remove_from_cart_front_product_path(product.articulus), method: "delete", class: "btn btn-default btn-sm" do
                          %span
                            %i.fa.fa-shopping-cart
                            Remove from Cart
                      - else
                        = link_to add_to_cart_front_product_path(product.articulus), method: "post", class: "btn btn-primary btn-sm" do
                          %span
                            %i.fa.fa-shopping-cart
                            Add to Cart


    .row
      .col-md-12
        .pull-right
          = pagination_(@products, previous_label: "«", next_label: "»")
