!!!
%html
  %head
    - if Rails.env.production?
      :javascript
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'Transaction'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PGSBTZG');

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    / Basic
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => 'description', content: @metadata[:meta_desc]}
    %meta{:name => 'keywords', content: @metadata[:meta_keywords]}
    %title
      = @metadata[:meta_title]
    = stylesheet_link_tag    'front_base', media: 'all'
    = csrf_meta_tags
    / Mobile Metas
    %meta{:content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    / Web Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light", :rel => "stylesheet", :type => "text/css"}
  %body
    - if Rails.env.production?
      %noscript
        %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-PGSBTZG", :style => "display:none;visibility:hidden", :width => "0"}
    .body
      - if !flash.blank?
        - flash.each do |e, msg|
          .notify-box{data: {message: msg, class: resolve_notfyjs_class(e), }}
      = render '/front/shared/nav_header'
      = yield
    = render '/front/shared/footer_about'
    = javascript_include_tag 'front_base'
