!!!
%html.fixed
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Basic
    %meta{:charset => "UTF-8"}/
    %meta{:name => 'description', content: @metadata[:meta_desc]}
    %meta{:name => 'keywords', content: @metadata[:meta_keywords]}
    %title
      = @metadata[:meta_title]
    = stylesheet_link_tag    'admin_base', media: 'all'
    = csrf_meta_tags
    / Mobile Metas
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    / Web Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light", :rel => "stylesheet", :type => "text/css"}/
  %body{style: "background-color: white;"}
    / start: page
    = yield
    = javascript_include_tag 'admin_base'
